<div class="snack-ideas-wrapper">
    <div class="background">
        <img id="background-image" [src]="background.path" [alt]="background.name">
        <div class="description-2">
            <p id="title">snack ideas.</p>
            <p id="welcome">
                these are my healty snack ideas. they always replace my unhealthy snacks full of salt, sugar and empty calories. 
            </p>
        </div>
        <div class="gradient-overlay"></div>
    </div>
    
    <div class="snack-ideas">
        <div class="gradient-overlay-2"></div>

        <div class="snack-ideas-container">
            <div class="sandwich-and-rice-cake">
                <div class="sandwich">
                    <img class="equipment-img" [src]="images[0].path" [alt]="images[0].name">
                    <div class="sandwich-description">
                        <h3>HAM SANDWICH</h3>
                        <hr>
                        <p>
                            A quick meal that you can pack and eat at scool or an office. Pay attention to the ingredients, make sure 
                            they are of good quality.<br><br> <span style="color: orange;">INGREDIENTS: 
                            whole grain bread, ham, cheese, salad.</span>
                        </p>
                    </div>
                </div>
    
                <div class="rice-cake">
                    <img class="equipment-img" [src]="images[1].path" [alt]="images[1].name">
                    <div class="rice-cake-description">
                        <h3>BANANA RICE CAKES</h3>
                        <hr>
                        <p>
                            A great meal to have instead of your usual sweets. Rice cakes are a great choice because they are 100% rice.
                            Make sure the peanut butter is of a good quality.
                            <br><br> <span style="color: orange;">INGREDIENTS: 
                            rice cake, peanut butter, banana, cocoa/cinnamon.</span>
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="salad-and-fruit">
                <div class="salad">
                    <img class="equipment-img" [src]="images[2].path" [alt]="images[2].name">
                    <div class="salad-description">
                        <h3>FRUIT SALAD</h3>
                        <hr>
                        <p>
                            Great meal to get your nutrients and vitamins in. You can pick any fruit you want, but I always put banana, kiwi and an apple.
                            Pour some honey over it if it's too sour for you.<br><br> <span style="color: orange;">INGREDIENTS: 
                            fruit of your choice.</span>
                        </p>
                    </div>
                </div>
    
                <div class="fruit">
                    <img class="equipment-img" [src]="images[3].path" [alt]="images[3].name">
                    <div class="fruit-description">
                        <h3>WHEY WITH FRUIT</h3>
                        <hr>
                        <p>
                            If you're in a hurry, just mix some whey protein with water and grab any fruit you like. You'll get the protein and nutrients
                            for the morning, but you will be hungry soon, so make sure you pack yourself one of the meals mentioned before.
                            <br><br> <span style="color: orange;">INGREDIENTS: whey, fruit.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
