<div class="window" *ngIf="sidebarService.toggleProfile.value">
    <div class="close">
        <mat-icon (click)="closeProfile()">close</mat-icon>
    </div>
    <div class="edit-profile">
        <p id="edit-profile-p">your profile.</p>
    
        <hr>

        <div class="first-name">
            <p>First name: <span style="color: wheat;">{{ (accountService.loggedUser | async).firstName }}</span></p>
        </div>
    
        <div class="last-name">
            <p>Last name: <span style="color: wheat;">{{ (accountService.loggedUser | async).lastName }}</span></p>
        </div>
    
        <div class="user-name">
            <p>User name: <span style="color: wheat;">{{ (accountService.loggedUser | async).userName }}</span></p>
        </div>
    
        <div class="email">
            <p>Email: <span style="color: wheat;">{{ (accountService.loggedUser | async).email }}</span></p>
        </div>

        <div class="avatar">
            <img [src]="(accountService.loggedUser | async).imageUrl" alt="avatar" height="100px" width="100px" (click)="toggleAvatarPicker()">
        </div>
    
        <div class="button-container">
            <button (click)="logOut()">
                Log out
            </button>
        </div>
    </div>

    
</div>
