<div class="footer" >
    <!-- <div class ="plus-icon-background" (click)="togglePlus()">
        <img class="plus-icon" [src]="footerService.pluses[2].icon" alt="icon" height="70px" width="70px">
    </div> -->
    <div class="socials">
        <ng-container *ngFor="let icon of footerService.socials; let i = index">
            <img class="social" [src]="icon.icon" [alt]="icon.name" height="40px" width="40px" style="margin-right: 10px;" (click)="navigateToSocial(icon.name)">
        </ng-container>
    </div>
</div>