.container{
    --h1-font-size: 100px;
    --welcome-font-size: 40px;
    --darkgreen: #001011;
    --lightgreen: #08170d;

    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;

    .kitchen-background{
        position: relative;
        height: 95%;

        .description{
            position: absolute;
            top: 65%;
            margin-left: 7%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            z-index: 2;
            font-weight: bold;

            #title{
                font-size: var(--h1-font-size);
                margin-bottom: 0;
                color: orange;
            }

            #welcome{
                font-size: var(--welcome-font-size);
                color: white;
            }
        }

        .gradient-overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40vh;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        }
    }

    .goal-and-meals{
        height: 1080px;
        width: 100%;
        background-color: var(--lightgreen);
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        z-index: 2;

        .gradient-overlay-2 {
            position: absolute;
            top: 100;
            left: 0;
            width: 100%;
            height: 150px;
            background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        }
    
        .todays-goal{
            width: 50%;
            
            .calories-and-chart{   
                display: flex;
                flex-direction: row;

                .calories{
                    width: 50%;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    font-weight: bold;
    
                    h3{
                        margin-top: 30%;
                        margin-left: 30%;
                        margin-bottom: 0;                
                        font-size: 70px;
                    }
    
                    p{
                        margin-left: 30%; 
                        font-size: 70px;
                    }
                }
        
                #chart{
                    height: 500px;
                    width: 500px;
                    margin-top: 10%;
                    margin-left: 100px;
                }
            }

            .macros{
                display: flex;
                flex-direction: column;

                .protein, .fats, .carbs{
                    height: 80px;
                    width: 1000px;
                    background-color: var(--lightgreen);
                    margin-bottom: 50px;
                    margin-left: 200px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: 30px;

                    p{
                        margin-top: 20px;
                    }

                    .macro{
                        margin-left: 30px;
                    }

                    .macro-number{
                        margin-right: 30px;
                    }
                }

                .carbs{
                    color: lightblue;
                    border: 2px solid lightblue;
                    border-radius: 50px;
                }

                .protein{
                    color: darkorange;
                    border: 2px solid darkorange;
                    border-radius: 50px;
                }

                .fats{
                    color: greenyellow;
                    border: 2px solid greenyellow;
                    border-radius: 50px;
                }
            }
        }

        .workout-and-meals{
            width: 50%;
            display: flex;
            flex-direction: column;
            
            .meals{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                font-weight: bold;
    
                .breakfast{
                    height: 300px;
                    width: 300px;
                    border-radius: 50%;
                    transition: transform 0.3s ease;
                    background-image: url('../../../assets/oatmeal-blurred.png'); 
                    background-size: cover; 
                    background-position: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid red;
                    overflow: hidden;

                    .breakfast-content{
                        margin-top: 10%;
                        width: 100%;

                        p{
                            margin-top: 10%;
                            width: 100%;
                            background-color: red;
                        }
                    }
                }

                .lunch{
                    background-image: url('../../../assets/chicken-with-pasta-blurred.jpg'); 
                    border-radius: 10%;
                    background-size: cover; 
                    background-position: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid orange;

                    .lunch-content{
                        margin-top: 10%;
                        width: 100%;

                        p{
                            margin-top: 10%;
                            width: 100%;
                            background-color: orange;
                        }
                    }
                }
    
                .dinner{ 
                    background-image: url('../../../assets/ham-sandwich-blurred.jpg'); 
                    border-radius: 50%;
                    background-size: cover; 
                    background-position: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid lightblue;

                    .dinner-content{
                        margin-top: 10%;
                        width: 100%;

                        p{
                            margin-top: 10%;
                            width: 100%;
                            background-color: lightblue;
                        }
                    }
                }
    
                .breakfast, .lunch, .dinner{
                    height: 300px;
                    width: 300px;
                    background-size: cover;
                    background-position: center;
                    transition: transform 0.3s ease;
                    margin-top: 10%;
                    text-align: center;
                    overflow: hidden;

                    p{
                        color: white;
                    }
                }
    
                .breakfast:hover, .lunch:hover, .dinner:hover{
                    transform: scale(1.05);
                    cursor: pointer;
                }
            
            }

            hr{
                width: 80%;
                margin-top: 10%;
                border-color: aquamarine;
            }

            .workout{
                background-image: url('../../../assets/battle-ropes.jpg'); 
                background-size: cover;
                background-position: center;
                height: 400px;
                width: 1000px;
                margin-top: 5%;
                margin-left: 11%;
                border-radius: 10px;
                border: 2px solid yellow;
                transition: transform 0.3s ease;
                overflow: hidden;
                font-weight: bold;
                font-family: Verdana, Geneva, Tahoma, sans-serif;

                p{
                    margin-top: 30%;
                    margin-left: 5%;
                    font-size: 50px;
                    color: yellow;
                }
            }

            .workout:hover{
                transform: scale(1.02);
                cursor: pointer;
            }
        }
    }

    .bottom{
        height: 1080px;
        width: 100%;
        background-color: var(--lightgreen);
    }
}