<div class="your-day-loading-overlay" *ngIf="isLoadingOverlayDisplayed() && sidebarService.$hasAvatarLoaded | async">
    <img src="assets/images/sidebar-icons/your-day-orange.png" alt="" height="70px" width="70px">
    <span>{{ getLoadingText() }}</span>
</div>
<div class="container" [hidden]="isLoadingOverlayDisplayed() && sidebarService.$hasAvatarLoaded | async">
    <div class="kitchen-background">
        <img src="assets/images/your-day/blue-kitchen-cartoonish.png" alt="KITCHEN-BACKGROUND" (load)="onImageLoad()">
        <div class="description">
            <p id="title">your day.</p>
            <p id="welcome">here you can track your calories and macros by logging your food and workout.</p>
        </div>
        <div class="gradient-overlay"></div>
    </div>

    <div class="goal-and-meals">
        <div class="gradient-overlay-2"></div>
        <div class="todays-goal">
            <div class="calories-and-chart">
                <div class="calories">
                    <h3>Today's goal:</h3>
                    <p>{{ (nutritionService.$totalMealsValue | async).totalCalories | number:'1.0-2' }} kcal</p>
                </div>
            </div>

            <div class="macros">
                <div class="protein" [ngStyle]="{'background': getBackgroundColor((nutritionService.$totalMealsValue | async)?.totalProtein, maxProteinValue, '#FFA07A', 'protein')}">
                    <p class="macro">Protein: </p>
                    <p class="macro-number">{{ (nutritionService.$totalMealsValue | async).totalProtein | number:'1.0-2' }} g</p>
                </div>
                <div class="fats" [ngStyle]="{'background': getBackgroundColor((nutritionService.$totalMealsValue | async)?.totalFats, maxFatsValue, '#ADD8E6', 'fats')}">
                    <p class="macro">Fats:</p>
                    <p class="macro-number">{{ (nutritionService.$totalMealsValue | async).totalFats | number:'1.0-2' }} g</p>
                </div>
                <div class="carbs" [ngStyle]="{'background': getBackgroundColor((nutritionService.$totalMealsValue | async)?.totalCarbs, maxCarbsValue, '#90EE90', 'carbs')}">
                    <p class="macro">Carbs:</p>
                    <p class="macro-number">{{ (nutritionService.$totalMealsValue | async).totalCarbs | number:'1.0-2' }} g</p>
                </div>
            </div>
        </div>

        <hr style="border-color: aquamarine;">

        <div class="workout-and-meals">
            <div class="meals">
                <div class="breakfast" (click)="toggleAddMeal('breakfast')" *ngIf="!nutritionService.isBreakfastAdded()">
                    <div class="breakfast-content">
                        <img src="assets/icons/pluses/plus-red.png" alt="PLUS-RED" height="100px" width="100px">
                        <p>ADD BREAKFAST</p>
                    </div>
                </div>
                <div class="edit-breakfast" *ngIf="nutritionService.isBreakfastAdded()" (click)="toggleEditMeal('breakfast')">
                    <div class="edit-breakfast-content">
                        <p id="edit-breakfast-calories">{{ (nutritionService.$pickedBreakfastMealsValues | async).calories | number:'1.0-2' }} kcal</p>
                        <hr>
                        <div class="edit-breakfast-macros">
                            <p id="edit-breakfast-protein">P: {{ (nutritionService.$pickedBreakfastMealsValues | async).protein | number:'1.0-2' }} g</p>
                            <p style="color: red;">-</p>
                            <p id="edit-breakfast-carbs">C: {{ (nutritionService.$pickedBreakfastMealsValues | async).carbs | number:'1.0-2' }} g</p>
                            <p style="color: red;">-</p>
                            <p id="edit-breakfast-fats">F: {{ (nutritionService.$pickedBreakfastMealsValues | async).fats | number:'1.0-2' }} g</p>
                        </div>
                        
                    </div>
                    <p id="edit-breakfast-title">
                        EDIT BREAKFAST
                    </p>
                </div>
                <div class="lunch" (click)="toggleAddMeal('lunch')" *ngIf="!nutritionService.isLunchAdded()">
                    <div class="lunch-content">
                        <img src="assets/icons/pluses/plus-orange.png" alt="PLUS-ORANGE" height="100px" width="100px">
                        <p>ADD LUNCH</p>
                    </div>
                </div>
                <div class="edit-lunch" *ngIf="nutritionService.isLunchAdded()" (click)="toggleEditMeal('lunch')">
                    <div class="edit-lunch-content">
                        <p id="edit-lunch-calories">{{ (nutritionService.$pickedLunchMealsValues | async).calories }} kcal</p>
                        <hr>
                        <div class="edit-lunch-macros">
                            <p id="edit-lunch-protein">P: {{ (nutritionService.$pickedLunchMealsValues | async).protein | number:'1.0-2' }} g</p>
                            <p style="color: orange;">-</p>
                            <p id="edit-lunch-carbs">C: {{ (nutritionService.$pickedLunchMealsValues | async).carbs | number:'1.0-2' }} g</p>
                            <p style="color: orange;">-</p>
                            <p id="edit-lunch-fats">F: {{ (nutritionService.$pickedLunchMealsValues | async).fats | number:'1.0-2' }} g</p>
                        </div>
                    </div>
                    <p id="edit-lunch-title">
                        EDIT LUNCH
                    </p>
                </div>
                <div class="dinner" (click)="toggleAddMeal('dinner')" *ngIf="!nutritionService.isDinnerAdded()">
                    <div class="dinner-content">
                        <img src="assets/icons/pluses/plus-light-blue.png" alt="PLUS-LIGHT-BLUE" height="100px" width="100px">
                        <p>ADD DINNER</p>
                    </div>
                </div>
                <div class="edit-dinner" *ngIf="nutritionService.isDinnerAdded()" (click)="toggleEditMeal('dinner')">
                    <div class="edit-dinner-content">
                        <p id="edit-dinner-calories">{{ (nutritionService.$pickedDinnerMealsValues | async).calories }} kcal</p>
                        <hr>
                        <div class="edit-dinner-macros">
                            <p id="edit-dinner-protein">P: {{ (nutritionService.$pickedDinnerMealsValues | async).protein | number:'1.0-2' }} g</p>
                            <p style="color: orange;">-</p>
                            <p id="edit-dinner-carbs">C: {{ (nutritionService.$pickedDinnerMealsValues | async).carbs | number:'1.0-2' }} g</p>
                            <p style="color: orange;">-</p>
                            <p id="edit-dinner-fats">F: {{ (nutritionService.$pickedDinnerMealsValues | async).fats | number:'1.0-2' }} g</p>
                        </div>
                    </div>
                    <p id="edit-dinner-title">
                        EDIT DINNER
                    </p>
                </div>
            </div>
            <hr>
            <div class="workout" (click)="toggleAddWorkout()" *ngIf="!workoutService.isWorkoutAdded()">
                <p>add workout.</p>
            </div>

            <div class="edit-workout" (click)="toggleEditWorkout()" *ngIf="workoutService.isWorkoutAdded()">
                <div class="workout-data">
                    <p>{{ (workoutService.$workoutValues | async).name }}</p>
                    <p>time elapsed: {{ (workoutService.$workoutValues | async).duration }}</p>
                    <p>total calories: {{ (workoutService.$workoutValues | async).totalCalories }} kcal</p>
                </div>
                <p>edit workout.</p>
            </div>
        </div>
    </div>

    <div 
        @fadeInOut 
        class="add-meal" 
        *ngIf="isAddMealVisible" 
        [ngStyle]="{
            'border-bottom-left-radius': pickedMeals.length > 0 ? '0px' : '20px',
            'border-bottom-right-radius': pickedMeals.length > 0 ? '0px' : '20px'   
        }"
    >
        <mat-icon (click)="closeAddMeal()">close</mat-icon>
        <p>add {{ mainMealName }}.</p>   
        <div class="search">
            <input [formControl]="searchControl" id="search-bar" type="search" placeholder="search for food..." autocomplete="off">
            <div class="magnifier-container">
                <mat-icon>search</mat-icon>
            </div>
        </div>

        <div class="calories-and-macros">
            <div class="calories">
                <p>Calories: </p>
                <p>{{ pickedMealsValue.calories | number:'1.0-2' }} kcal</p>
            </div>
    
            <div class="macros">
                <p id="protein">Protein: {{ pickedMealsValue.protein | number:'1.0-2' }} g</p>
                <p id="carbs">Carbs: {{ pickedMealsValue.carbs | number:'1.0-2' }} g</p>
                <p id="fats">Fats: {{ pickedMealsValue.fats | number:'1.0-2' }} g</p>
            </div>
        </div>

        <div class="search-results" *ngIf="showQuery">
            <div *ngFor="let meal of filteredMeals">
                <div class="searched-meal" (click)="pickMeal(meal, 'add')">
                    <div class="searched-meal-name-container">
                        <p id="searched-meal-name">{{ meal.name }}</p>
                    </div>
                    
                    <div class="searched-macros-container">
                        <p style="color: orange;">Protein: {{ meal.protein | number:'1.0-2' }} g</p>
                        <p style="color: green;">Carbs: {{ meal.carbs | number:'1.0-2' }} g</p>
                        <p style="color: lightblue;">Fats: {{ meal.fats | number:'1.0-2' }} g</p>
                        <p>Calories: {{ meal.calories }} kcal</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="button-container" *ngIf="isFoodPicked" >
            <button (click)="addMeal()">Add</button>
        </div>

        <div class="picked-meals" *ngIf="pickedMeals.length > 0">
            <div class="picked-meal" *ngFor="let meal of pickedMeals; let i = index">
                <p>{{ meal.name }} - 
                    <span style="color: orange;">P: {{ meal.protein | number:'1.0-2' }} g</span>
                      - 
                    <span style="color: greenyellow;"> C: {{ meal.carbs | number:'1.0-2' }} g </span> 
                      - 
                    <span style="color: lightblue;">F: {{ meal.fats | number:'1.0-2' }} g</span>

                    - Cal: {{ meal.calories }} kcal

                    <mat-icon (click)="removeMeal(i, 'addMeal')">cancel</mat-icon>
                </p>
            </div>
        </div>
    </div>

    <div 
        @fadeInOut 
        class="edit-meal" 
        *ngIf="isEditMealVisible" 
        [ngStyle]="{
            'border-bottom-left-radius': pickedMealsBeforeConfirm.length > 0 ? '0px' : '20px',
            'border-bottom-right-radius': pickedMealsBeforeConfirm.length > 0 ? '0px' : '20px'   
        }"
    >
        <mat-icon (click)="closeEditMeal()">close</mat-icon>
        <p>edit {{ mainMealName }}.</p>   
        <div class="search">
            <input [formControl]="searchControl" id="search-bar" type="search" placeholder="search for food..." autocomplete="off">
            <div class="magnifier-container">
                <mat-icon>search</mat-icon>
            </div>
        </div>

        <div class="calories-and-macros">
            <div class="calories">
                <p>Calories: </p>
                <p>{{ pickedMealsBeforeConfirmValues.calories | number:'1.0-2' }} kcal</p>
            </div>
    
            <div class="macros">
                <p id="protein">Protein: {{ pickedMealsBeforeConfirmValues.protein | number:'1.0-2' }} g</p>
                <p id="carbs">Carbs: {{ pickedMealsBeforeConfirmValues.carbs | number:'1.0-2' }} g</p>
                <p id="fats">Fats: {{ pickedMealsBeforeConfirmValues.fats | number:'1.0-2' }} g</p>
            </div>
        </div>

        <div class="search-results" *ngIf="showQuery">
            <div *ngFor="let meal of filteredMeals">
                <div class="searched-meal" (click)="pickMeal(meal, 'edit')">
                    <div class="searched-meal-name-container">
                        <p id="searched-meal-name">{{ meal.name }}</p>
                    </div>
                    
                    <div class="searched-macros-container">
                        <p style="color: orange;">Protein: {{ meal.protein | number:'1.0-2' }} g</p>
                        <p style="color: green;">Carbs: {{ meal.carbs | number:'1.0-2' }} g</p>
                        <p style="color: lightblue;">Fats: {{ meal.fats | number:'1.0-2'}} g</p>
                        <p>Calories: {{ meal.calories }} kcal</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="button-container">
            <button style="background-color: lightyellow;" (click)="confirmMeal()">Confirm</button>
        </div>

        <div class="picked-meals" *ngIf="pickedMealsBeforeConfirm.length > 0">
            <div class="picked-meal" *ngFor="let meal of pickedMealsBeforeConfirm; let i = index">
                <p>{{ meal.name }} - 
                    <span style="color: orange;">P: {{ meal.protein | number:'1.0-2'}} g</span>
                      - 
                    <span style="color: greenyellow;"> C: {{ meal.carbs | number:'1.0-2'}} g </span> 
                      - 
                    <span style="color: lightblue;">F: {{ meal.fats | number:'1.0-2'}} g</span>

                    - Cal: {{ meal.calories }} kcal

                    <mat-icon (click)="removeMeal(i, 'editMeal')">cancel</mat-icon>
                </p>
            </div>
        </div>
    </div>

    <div 
        @fadeInOut 
        class="add-workout-window"
        *ngIf="isAddWorkoutVisible"
    >
        <mat-icon (click)="closeAddWorkout()">close</mat-icon>
        <p>add workout.</p>   

        <hr>

        <form [formGroup]="workoutForm" (ngSubmit)="addWorkout(workoutForm.value)">
            <div class="name-input">
                <label for="name-input">name: </label>
                <input type="text" formControlName="name" id="name" autocomplete="off">
            </div>
            <div class="name-error" *ngIf="workoutForm.get('name').touched && workoutForm.get('name').errors?.['required']">
                <p>This field is required.</p>
            </div>
            <div class="name-error" *ngIf="workoutForm.get('name').touched && workoutForm.get('name').errors?.['maxlength']">
                <p>Name can't have more than 10 characters.</p>
            </div>
    
            <div class="type-input">
                <label for="type-input">type: </label>
                <select name="type-input" id="type-input" formControlName="type" id="type">
                    <option selected disabled value="select">select a workout type...</option>
                    <option value="Cardio">cardio</option>
                    <option value="StrengthTraining">strength training</option>
                    <option value="BallSports">ball sports</option>
                    <option value="RacquetSports">racquet sports</option>
                </select>
            </div>
    
            <div class="duration-container">
                <p>duration:</p>
                <div class="duration-times">
                    <div class="duration-hour-input">
                        <input type="number" min="0" max="24" value="00" formControlName="durationHrs" id="durationHrs" autocomplete="off">
                        <label for="duration-input">hrs</label>
                    </div>
                    <div class="duration-minutes-input">
                        <input type="number" min="0" max="60" value="00" formControlName="durationMin" id="durationMin" autocomplete="off">
                        <label for="duration-input">min</label>
                    </div>
                    <div class="duration-seconds-input">
                        <input type="number" min="0" max="60" value="00" formControlName="durationSec" id="durationSec" autocomplete="off">
                        <label for="duration-input">sec</label>
                    </div>
                </div>
            </div>
    
            <div class="total-calories-input">
                <label for="total-calories-input">total calories: </label>
                <input type="number" min="0" value="0" formControlName="totalCalories" id="totalCalories" autocomplete="off">
            </div>
    
            <div class="button-container">
                <button type="submit">
                    Add
                </button>
            </div>
        </form>
    </div>

    <div
        @fadeInOut  
        class="edit-workout-window"
        *ngIf="isEditWorkoutVisible"
    >
        <mat-icon (click)="closeEditWorkout()">close</mat-icon>
        <p>edit workout.</p>   
        
        <hr>

        <form [formGroup]="workoutForm" (ngSubmit)="editWorkout(workoutForm.value)">
            <div class="name-input">
                <label for="name-input">name: </label>
                <input type="text" formControlName="name" id="name" autocomplete="off">
            </div>
            <div class="name-error" *ngIf="workoutForm.get('name').touched && workoutForm.get('name').errors?.['required']">
                <p>This field is required.</p>
            </div>
            <div class="name-error" *ngIf="workoutForm.get('name').touched && workoutForm.get('name').errors?.['maxlength']">
                <p>Name can't have more than 10 characters.</p>
            </div>
    
            <div class="type-input">
                <label for="type-input">type: </label>
                <select name="type-input" id="type-input" formControlName="type" id="type">
                    <option selected disabled value="select">select a workout type...</option>
                    <option value="Cardio">cardio</option>
                    <option value="StrengthTraining">strength training</option>
                    <option value="BallSports">ball sports</option>
                    <option value="RacquetSports">racquet sports</option>
                </select>
            </div>
    
            <div class="duration-container">
                <p>duration:</p>
                <div class="duration-times">
                    <div class="duration-hour-input">
                        <input type="number" min="0" max="24" value="00" formControlName="durationHrs" id="durationHrs" autocomplete="off">
                        <label for="duration-input">hrs</label>
                    </div>
                    <div class="duration-minutes-input">
                        <input type="number" min="0" max="60" value="00" formControlName="durationMin" id="durationMin" autocomplete="off">
                        <label for="duration-input">min</label>
                    </div>
                    <div class="duration-seconds-input">
                        <input type="number" min="0" max="60" value="00" formControlName="durationSec" id="durationSec" autocomplete="off">
                        <label for="duration-input">sec</label>
                    </div>
                </div>
            </div>
    
            <div class="total-calories-input">
                <label for="total-calories-input">total calories: </label>
                <input type="number" min="0" value="0" formControlName="totalCalories" id="totalCalories" autocomplete="off">
            </div>
    
            <div class="button-container">
                <button type="submit">
                    Confirm
                </button>

                <button id="delete-workout" (click)="deleteWorkout()">
                    Delete
                </button>
            </div>
        </form>
    </div>
</div>