<div class="floating-window" [@showWindow]="footerService.isPlusClicked.value ? 'show' : 'hide'" *ngIf="footerService.isPlusClicked.value">
    <div class="choice-container" *ngIf="helperService.windowChoice.value=='add'">
        <div class="top" (click)="changeWindow('addMeal')">
            <div class="top-container">
                <img [src]="footerService.pluses[3].icon" [alt]="footerService.pluses[3].name" height="50px" width="50px">
                <p>ADD MEAL</p>
            </div>
        </div>
    
        <div class="bottom" (click)="changeWindow('addWorkout')">
            <div class="bottom-container">
                <img [src]="footerService.pluses[0].icon" [alt]="footerService.pluses[0].name" height="50px" width="50px">
                <p style="color: orangered">ADD WORKOUT</p>
            </div>
        </div>
    </div>

    <div class="add-meal" *ngIf="helperService.windowChoice.value=='addMeal'">
        <div class="icons">
            <mat-icon (click)="goBack()">arrow_back</mat-icon>
            <mat-icon (click)="closeWindow()">close</mat-icon>
        </div>

        <div class="search">
            <input [(ngModel)]="searchQuery" (input)="search()" matInput type="text" placeholder="Search for a meal..." class="meal-search-bar">
            <mat-icon class="search-button" style="color: #181e29">search</mat-icon>
        </div>

        <div class="search-list-wrapper">
            <ul class="search-list" *ngIf="searchQuery.trim() !== '' && searchResults.length > 0">
                <li *ngFor="let meal of searchResults">{{ meal.name }} 
                    <div class="search-macros-container">
                        <p>P: {{ meal.proteins }}</p>
                        <p>C: {{ meal.fats }}</p>
                        <p>C: {{ meal.carbs }}</p>
                        <p>CAL: {{ meal.calories }}</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="quick-add">
            <!-- <h1>QUICK ADD</h1> -->
            <div class="select-wrapper">
                <select class="meals">
                    <option id="breakfast">BREAKFAST</option>
                    <option id="lunch">LUNCH</option>
                    <option id="snack">SNACK</option>
                    <option id="dinner">DINNER</option>
                </select>
            </div>
            <div class="macros">
                <form [formGroup]="mealForm">
                    <div id="name">
                        <label for="name-value">Name:</label>
                        <input 
                            formControlName="name"
                            id="name-value"
                            type="text"
                        />
                    </div>
                    <div id="protein">
                        <label for="protein-value">Protein:</label>
                        <div class="input">
                            <input
                                formControlName="protein"
                                id="protein-value"
                                type="text"
                                (input)="checkValue($event)"
                            />
                            <p>g</p>
                        </div>
                    </div>
                    <div id="fats">
                        <label for="fats-value">Fats:</label>
                        <div class="input">
                            <input
                                formControlName="fats"
                                id="fats-value"
                                type="text"
                                (input)="checkValue($event)"
                            />
                            <p>g</p>
                        </div>
                    </div>
                    <div id="carbs">
                        <label for="carbs-value">Carbs:</label>
                        <div class="input">
                            <input
                                formControlName="carbs"
                                id="carbs-value"
                                type="text"
                                (input)="checkValue($event)"
                            />
                            <p>g</p>
                        </div>
                    </div>
                    <div id="calories">
                        <label for="calories-value">CALORIES:</label>
                        <div class="input">
                            <input
                                formControlName="calories"
                                id="calories-value"
                                type="text"
                                (input)="checkValue($event)"
                            />
                            <p>kcal</p>
                        </div>
                    </div>
                </form>
            </div>

            <div id="chart">
                <apx-chart
                    [series]="chartSeries"
                    [chart]="helperService.chartOptions.chartDetails"
                    [legend]="helperService.chartOptions.legendOptions"
                    [fill]="helperService.chartOptions.fill"
                    [tooltip]="helperService.chartOptions.tooltip"
                ></apx-chart>
            </div>

            <div class="buttons">
                <div class="submit-button">
                    <button mat-button type="submit" [disabled]="!mealForm.valid" id="submit">
                        ADD MEAL
                    </button>
                </div>
            </div>
        </div>
    </div>
 
    <div class="add-workout" *ngIf="helperService.windowChoice.value=='addWorkout'">
        <div class="icons">
            <mat-icon style="color: orangered;" (click)="goBack()">arrow_back</mat-icon>
            <mat-icon style="color: orangered;" (click)="closeWindow()">close</mat-icon>
        </div>

        <div class="search-workout">
            <input matInput type="text" placeholder="Search for a workout..." class="workout-search-bar">
            <mat-icon style="color: orangered" class="search-button">search</mat-icon>
        </div>

        <div class="quick-add">
            <h1 style="color: orangered;">QUICK ADD</h1>
            <div class="workout-data">
                <form [formGroup]="workoutForm">
                    <div id="name">
                        <label style="color: orangered" for="name-value">Name:</label>
                        <input 
                            style="background-color: transparent; color: orangered;"
                            formControlName="name"
                            id="name-value"
                            type="text"
                        />
                    </div>
                    <div class="time-elapsed">
                        <label style="color: orangered" for="time-elapsed-value">Time elapsed:</label>
                        <div class="input">
                            <input 
                                style="background-color: transparent; color: orangered;"
                                formControlName="timeElapsed"
                                id="time-elapsed-value"
                                type="text"
                            />
                            <p style="color: orangered;">min</p>
                        </div>
                    
                    </div>
                    <div class="total-calories">
                        <label style="color: orangered" for="total-calories-value">Total calories:</label>
                        <div class="input">
                            <input 
                                style="background-color: transparent; color: orangered;"
                                formControlName="totalCalories"
                                id="total-calories-value"
                                type="text"
                            />
                            <p style="color: orangered;">kcal</p>
                        </div>
                    </div>

                    <div class="buttons">
                        <div class="submit-button">
                            <button style="background-color: orangered;" mat-button type="submit" [disabled]="!mealForm.valid" id="submit">
                                ADD WORKOUT 
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
