<div class="dinner-ideas-wrapper">
    <div class="background">
        <img id="background-image" [src]="background.path" [alt]="background.name">
        <div class="description-2">
            <p id="title">dinner ideas.</p>
            <p id="welcome">
                finish your day with a light meal that won't cause you problems going to sleep.
            </p>
        </div>
        <div class="gradient-overlay"></div>
    </div>
    
    <div class="dinner-ideas">
        <div class="gradient-overlay-2"></div>

        <div class="dinner-ideas-container">
            <div class="eggs-and-tuna">
                <div class="eggs">
                    <img class="equipment-img" [src]="images[0].path" [alt]="images[0].name">
                    <div class="eggs-description">
                        <h3>BOILED EGGS</h3>
                        <hr>
                        <p>
                            A light meal full of protein and healthy fats. You can never go wrong with eggs, you can make them in various combinations
                            and eat them every day.
                            <br><br> <span style="color: orange;">INGREDIENTS: 
                            eggs, spices</span>
                        </p>
                    </div>
                </div>
    
                <div class="tuna">
                    <img class="equipment-img" [src]="images[1].path" [alt]="images[1].name">
                    <div class="tuna-description">
                        <h3>TUNA SPAGHETTI</h3>
                        <hr>
                        <p>
                            If you don't like fish, you can try it with pasta and it will taste much better. If you're eating canned fish, make sure
                            you get rid of the oil. 
                            <br><br> <span style="color: orange;">INGREDIENTS: 
                            tuna, spaghetti.</span>
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="sardines-and-semolina">
                <div class="sardines">
                    <img class="equipment-img" [src]="images[2].path" [alt]="images[2].name">
                    <div class="sardines-description">
                        <h3>SARDINE TOAST</h3>
                        <hr>
                        <p>
                            Similar to the meal above, eating fish in a different way can change the taste. I sometimes put sardines on a toast with 
                            cottage cheese. If you're eating canned sardines, make sure you get rid of the oil.
                            <br><br> <span style="color: orange;">INGREDIENTS: 
                            sardines, toast, cottage cheese.</span>
                        </p>
                    </div>
                </div>
    
                <div class="semolina">
                    <img class="equipment-img" [src]="images[3].path" [alt]="images[3].name">
                    <div class="semolina-description">
                        <h3>SEMOLINA WITH WHEY</h3>
                        <hr>
                        <p>
                            A meal that I used to eat when I was a kid. I just replaced cocoa with whey protein. Make sure you don't add any sugar.
                            <br><br> <span style="color: orange;">INGREDIENTS: 
                            semolina, whey, milk</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
