<div class="kitchen-essentials-loading-overlay" *ngIf="!isImageLoaded">
    <img src="assets/images/sidebar-icons/kitchen-essentials-orange.png" alt="" height="70px" width="70px">
    <span>loading...</span>
</div>

<div class="kitchen-essentials-wrapper" [hidden]="!isImageLoaded">
    <div class="background">
        <img id="background-image" src="assets/images/kitchen-essentials/kitchen-background.jpg" alt="KITCHEN" (load)="onImageLoad()">
        <div class="description-2">
            <p id="title">kitchen essentials.</p>
            <p id="welcome">food and supplements that are a great part of my diet. if you can tolerate food shown below you should
                definitely implement it in your diet. supplements are not neccesary but can help you a lot in reaching your goal.
            </p>
        </div>
        <div class="gradient-overlay"></div>
    </div>
    
    <div class="equipment">
        <div class="gradient-overlay-2"></div>
        <div class="oats-and-peanut-butter">
            <div class="oats">
                <img class="equipment-img" src="assets/images/kitchen-essentials/oats.jpeg" alt="OATS">
                <div class="oats-description">
                    <h3>OATS</h3>
                    <hr>
                    <p>
                        Oats are a great source of complex carbs and fibre. I recommend having them for breakfast or snack. You can make an oatmeal, 
                        blend them and use them instead of flour for pancakes or oatmeal, or even bake them and make energy bars.
                    </p>
                </div>
            </div>

            <div class="peanut-butter">
                <img class="equipment-img" src="assets/images/kitchen-essentials/peanut-butter.jpg" alt="PEANUT-BUTTER">
                <div class="peanut-butter-description">
                    <h3>PEANUT BUTTER</h3>
                    <hr>
                    <p>
                        A good quality peanut butter contains a lot of healthy fats and calories which makes it great for gaining weight. You can spread it on bread, 
                        put it in oatmeal or shakes. When buying peanut butter pay attention to ingredients. 
                    </p>
                </div>
            </div>
        </div>

        <div class="bananas-and-milk">
            <div class="bananas">
                <img class="equipment-img" src="assets/images/kitchen-essentials/bananas.jpg" alt="BANANAS">
                <div class="bananas-description">
                    <h3>BANANAS</h3>
                    <hr>
                    <p>
                        My favourite fruit. You can eat it at any time of the day. It goes the best with oatmeal or shakes. Great source of short term
                        energy. 
                    </p>
                </div>
            </div>

            <div class="milk">
                <img class="equipment-img" src="assets/images/kitchen-essentials/milk.jpg" alt="MILK">
                <div class="milk-description">
                    <h3>MILK</h3>
                    <hr>
                    <p>
                        Great source of protein, calcium and vitamins. I consume it on a daily basis through oatmeal or shakes. Don't be afraid of
                        milks that contain high amount of fats.
                    </p>
                </div>
            </div>
        </div>

        <div class="chicken-and-rice">
            <div class="chicken">
                <img class="equipment-img" src="assets/images/kitchen-essentials/chicken.jpg" alt="CHICKEN">
                <div class="chicken-description">
                    <h3>CHICKEN</h3>
                    <hr>
                    <p>
                        The best protein source that you can find. It's low in fat and easy to digest. I combine it with carbs like rice, pasta or potatoes.
                        Always eat some kind of vegetables with it.
                    </p>
                </div>
            </div>

            <div class="rice">
                <img class="equipment-img" src="assets/images/kitchen-essentials/rice.jpg" alt="RICE">
                <div class="rice-description">
                    <h3>RICE</h3>
                    <hr>
                    <p>
                        Fast digesting carbs. If you need more complex carbs you should try brown rice.
                        I always eat rice with some kind of meat. Rice is really easy to eat but it's high in calories so be careful
                        how much you eat. 
                    </p>
                </div>
            </div>
        </div>

        <div class="whey-and-creatine">
            <div class="whey">
                <img class="equipment-img" src="assets/images/kitchen-essentials/whey.jpg" alt="WHEY">
                <div class="whey-description">
                    <h3>WHEY</h3>
                    <hr>
                    <p>
                        Alongside chicken one of the best protein sources you can eat. Consuming whey protein makes it easier to hit your protein goal 
                        for the day. If you can, always eat some kind of meat or eggs instead of whey. 
                    </p>
                </div>
            </div>

            <div class="creatine">
                <img class="equipment-img" src="assets/images/kitchen-essentials/creatine.jpg" alt="CREATINE">
                <div class="creatine-description">
                    <h3>CREATINE</h3>
                    <hr>
                    <p>
                        A supplement that makes you stronger and your muscles fuller. Creatine can be found in meat but it's way easier to consume it 
                        through supplementation. It's the most researched supplement in the world. 5 grams a day will be enough for everyone.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
