body{
    overflow-x: hidden;  
    
}

.home-loading-overlay{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(6, 14, 8, 1);
    z-index: 2;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    gap: 20px;

    img{
        animation: pulsate 2s infinite ease-in-out;
    }

    span{
        font-size: 24px; 
        color: aqua; 
        font-family: 'Courier New', Courier, monospace; font-weight: bold;
    }

    @keyframes pulsate{
        0%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
}

#scroll-container{
    --h1-font-size: 50px;
    --title-font-size: 100px;
    --welcome-font-size: 40px;
    --p-font-size: 30px;
    --base-image-width: 420px;
    --base-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    --darkgreen: #060e08;

    .monkey-bar {
        position: relative;
        width: 100%;
        height: 100%;
    
        .image-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
    
            img {
                width: 100%;
                height: 100%;
            }
    
            #bar{
                border-radius: 0 !important;
            }
    
            .gradient-overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 50vh;
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
            }
        }
    
        .description-2{
            position: absolute;
            top: 70%;
            margin-left: 8%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;

            #title{
                font-size: var(--title-font-size);
                color: aqua;
                margin-bottom: 0;
            }

            #welcome{
                font-size: var(--welcome-font-size);
                color: whitesmoke;
            }

            z-index: 3;
        }
    }
    
    .cooking {
        width: 100%;
        height: 1600px;
        background-color: #0B1A11;
        position: relative;
        z-index: 2;
    
        .gradient-overlay-2 {
            position: absolute;
            top: 100;
            left: 0;
            width: 100%;
            height: 150px;
            background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        }
        
        .gradient-overlay-3 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 200px;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        }
    }
    
    img{
        border-radius: 10px;
        transition: transform 0.3s ease;
    }
    
    img:not(#bar, #pullup-bar, #street-workout, #gym):hover{
        transform: scale(1.01);
        cursor: pointer;
    }
    
    p > span{
        text-shadow: 2px 2px 4px black;
    }
    
    .meal-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95vw;
        height: 75vh;
    
        .images{
            padding-left: 10%;
            padding-top: 10%;
            border-radius: 10px;
            height: 50vh;
    
            .oatmeal-container,
            .rice-cakes-container,
            .ham-sandwich-container,
            .fruit-salad-container {
                position: absolute;
                width: 500px; 
                height: 500px;
            }
    
            .oatmeal-container {
                z-index: 1;

                img{
                    height: var(--base-image-width);
                    width: var(--base-image-width);
                }
        
                #oatmeal:hover{
                    box-shadow: 0px 0px 15px orangered;
                }
            }
            
            .rice-cakes-container {
                z-index: 1; 
                margin-top: 3%;
                margin-left: 22%; 

                img{
                    height: var(--base-image-width);
                    width: var(--base-image-width);
                }
        
                #rice-cakes:hover{
                    box-shadow: 0px 0px 15px yellow;
                }
            }
            
            .ham-sandwich-container{
                z-index: 1;
                margin-top: 22%;

                img{
                    height: var(--base-image-width);
                    width: var(--base-image-width);
                }
        
                #ham-sandwich:hover{
                    box-shadow: 0px 0px 15px greenyellow;
                }
            }
            
            .fruit-salad-container{
                z-index: 1;
                margin-top: 25%;
                margin-left: 22%; 

                img{
                    height: var(--base-image-width);
                    width: var(--base-image-width);
                }
        
                #fruit-salad:hover{
                    box-shadow: 0px 0px 15px cyan;
                }
            }
        }
    
        .meal-description{
            z-index: 2;
            width: 40%;
            height: 100%;
            margin-top: 10%;
        
            p{
                z-index: 2;
                color: white;
                font-size: var(--p-font-size);
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
        
            h4{
                z-index: 2;
                color: white;
                font-size: var(--p-font-size);
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                text-shadow: none;
            }
        }
    }
    
    .workout-container{
        width: 100%;
        height: 1000px;
        background-color: #0B1A11;
        position: relative;
        background-color: var(--darkgreen);
    
        .gradient-overlay-4{
            position: absolute;
            width: 100%;
            height: 200px;
            background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
            z-index: 2;
        }
    
        #pullup-bar{
            width: 100%;
            height: 100%;
        }
    
        .descriptions{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: 100%;
            max-width: 100%;
            overflow-x: hidden;
            overflow-y: hidden;
            
            img{
                transition: transform 0.3s ease;
            }
    
            img:hover{
                transform: scale(1.01);
                cursor: pointer;
            }

            .street-workout-container{
                clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
                width: 58vw;
                margin-right: -10%;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: var(--base-font);

                .sw-desc{
                    margin-top: 20%;
                    text-align: center;
                    width: 60%;

                    h3{
                        color: orangered;
                        font-size: var(--h1-font-size);
                        text-shadow: 4px 4px 8px #060e08;
                    }
        
                    p{
                        color: orangered;
                        font-size: var(--p-font-size);
                        text-shadow: 4px 4px 8px #060e08;
                    }
                }
            }


            .gym-container{ 
                clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
                width: 55vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: var(--base-font);

                .gym-desc{
                    margin-top: 20%;
                    text-align: center;
                    width: 60%;

                    h3{
                        color: orangered;
                        font-size: var(--h1-font-size);
                        text-shadow: 4px 4px 8px #060e08;
                    }
        
                    p{
                        color: orangered;
                        font-size: var(--p-font-size);
                        text-shadow: 4px 4px 8px #060e08;
                    }
                }
            }
        
            .street-workout-container, .gym-container{
                height: 100%;
                transition: transform 0.3s ease;
                width: 100%;
    
                .workout-description, .gym-description{
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                }
            }

            .street-workout-container:hover, .gym-container:hover{
                transform: scale(1.01);
                transform-origin: center;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 2100px) {
    #scroll-container{
        --h1-font-size: 40px;
        --title-font-size: 75px;
        --welcome-font-size: 30px;
        --p-font-size: 25px;
        --base-image-width: 350px;

        .cooking{
            height: 1300px;
        }

        .workout-container{
            height: 800px;

            .descriptions{
                .street-workout-container{
                    .sw-desc{
                        margin-top: 25%;
                    }
                }

                .gym-container{
                    .gym-desc{
                        margin-top: 25%;
                    }
                }
            }
        }
    }
  }
  
@media screen and (max-width: 1800px) {
    #scroll-container{
        --h1-font-size: 35px;
        --title-font-size: 60px;
        --welcome-font-size: 25px;
        --p-font-size: 23px;
        --base-image-width: 300px;

        .monkey-bar{
            .description-2{
                margin-left: 10%;
            }
        }


        .cooking{
            height: 1100px;
        }

        .workout-container{
            height: 800px;

            .descriptions{
                .street-workout-container{
                    .sw-desc{
                        margin-top: 25%;
                    }
                }

                .gym-container{
                    .gym-desc{
                        margin-top: 25%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    #scroll-container{
        --h1-font-size: 30px;
        --title-font-size: 60px;
        --welcome-font-size: 25px;
        --p-font-size: 20px;
        --base-image-width: 270px;

        .cooking{
            height: 900px;
        }

        .workout-container{
            height: 700px;

            .descriptions{
                .street-workout-container{
                    .sw-desc{
                        margin-top: 30%;
                    }
                }

                .gym-container{
                    .gym-desc{
                        margin-top: 30%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    #scroll-container{
        --h1-font-size: 30px;
        --title-font-size: 50px;
        --welcome-font-size: 20px;
        --p-font-size: 17px;
        --base-image-width: 220px;

        .monkey-bar{
            .description-2{
                margin-left: 12%;
            }
        }

        .cooking{
            height: 800px;
        }

        .meal-container{
            .images{
                margin-left: 2%;
            }
        }

        .workout-container{
            .descriptions{
                .street-workout-container{
                    .sw-desc{
                        margin-top: 40%;

                        p{
                            font-size: 20px;
                        }
                    }
                }

                .gym-container{
                    .gym-desc{
                        margin-top: 40%;

                        p{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    #scroll-container{
        --h1-font-size: 25px;
        --title-font-size: 50px;
        --welcome-font-size: 18px;
        --p-font-size: 13px;
        --base-image-width: 180px;

        .monkey-bar{
            .description-2{
                margin-left: 14%;
            }
        }

        .cooking{
            height: 650px;
             
        }

        .meal-container{
            .images{
                margin-left: 5%;
            }
        }

        .workout-container{
            height: 1000px;

            .descriptions{
                display: flex;
                flex-direction: column;
                height: 100%;

                .street-workout-container{
                    height: 50%;
                    .sw-desc{
                        margin-top: 15%;
                        p{
                            font-size: 20px;
                        }
                    }
                }

                .gym-container{
                    height: 50%;
                    .gym-desc{
                        margin-top: 15%;
                        p{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    #scroll-container{
        --h1-font-size: 20px;
        --title-font-size: 40px;
        --welcome-font-size: 15px;
        --p-font-size: 18px;
        --base-image-width: 180px;

        .monkey-bar{
            .description-2{
                margin-left: 17%;
                top: 60%;
            }
        }

        .cooking{
            height: 1000px;
        }

        .meal-container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .images{
                padding-left: 10%;
                padding-top: 10%;
                height: 700px;
                width: 200px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
        
                .oatmeal-container,
                .rice-cakes-container,
                .ham-sandwich-container,
                .fruit-salad-container {
                    position: relative;
                    width: 500px; 
                    height: 500px;
                    margin-left: 10%;
                    margin-top: 0;
                    margin-right: 0;
                    
                    img{
                        margin-top: 20px !important;
                        margin-right: 0;
                    }
                }
            }

            .meal-description{
                height: 820px;
                width: 280px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
        } 

        .workout-container{
            .descriptions{
                display: flex;
                flex-direction: column;
                height: 100%;

                .street-workout-container{
                    height: 50%;
                    .sw-desc{
                        margin-top: 20%;
                        p{
                            font-size: 20px;
                        }
                    }
                }

                .gym-container{
                    height: 50%;
                    .gym-desc{
                        margin-top: 20%;
                        p{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    #scroll-container{
        --h1-font-size: 15px;
        --p-font-size: 17px;
        --base-image-width: 180px;

        .monkey-bar{
            .description-2{
                
                #title{
                    margin-top: 0;
                }

                margin-left: 7%;
                top: 60%;
            }
        }

        .cooking{
            height: 1000px;
        }

        .meal-container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .images{
                padding-left: 0;
                padding-top: 10%;
                height: 700px;
                width: 220px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
        
                .oatmeal-container,
                .rice-cakes-container,
                .ham-sandwich-container,
                .fruit-salad-container {
                    position: relative;
                    width: 100%; 
                    height: 500px;
                    margin-left: 10%;
                    margin-top: 0;
                    margin-right: 0;
                    
                    img{
                        margin-top: 20px !important;
                        margin-right: 0;
                    }
                }
            }

            .meal-description{
                height: 820px;
                width: 280px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
        }

        .workout-container{
            .descriptions{
                display: flex;
                flex-direction: column;
                height: 100%;

                .street-workout-container{
                    height: 50%;

                    .sw-desc{
                        margin-top: 30%;

                        h3{
                            font-size: 20px;
                        }

                        p{
                            font-size: 20px;
                        }
                    }
                }

                .gym-container{
                    height: 50%;

                    .gym-desc{
                        margin-top: 30%;
                        
                        h3{
                            font-size: 20px;
                        }

                        p{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    #scroll-container{
        --h1-font-size: 15px;
        --p-font-size: 17px;
        --base-image-width: 170px;

        .monkey-bar{
            .description-2{
                
                #title{
                    margin-top: 0;
                }

                margin-left: 5%;
                top: 50%;
            }
        }

        .cooking{
            height: 1000px;
        }

        .meal-container{
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .images{
                padding-left: 0;
                padding-top: 10%;
                height: 700px;
                width: 220px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
        
                .oatmeal-container,
                .rice-cakes-container,
                .ham-sandwich-container,
                .fruit-salad-container {
                    position: relative;
                    width: 100%; 
                    height: 500px;
                    margin-left: 10%;
                    margin-top: 0;
                    margin-right: 0;
                    
                    img{
                        margin-top: 20px !important;
                        margin-right: 0;
                    }
                }
            }

            .meal-description{
                height: 820px;
                width: 280px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
        }

        .workout-container{
            .descriptions{
                display: flex;
                flex-direction: column;
                height: 100%;

                .street-workout-container{
                    height: 50%;

                    .sw-desc{
                        margin-top: 30%;

                        h3{
                            font-size: 20px;
                        }

                        p{
                            font-size: 20px;
                        }
                    }
                }

                .gym-container{
                    height: 50%;
                    
                    .gym-desc{
                        margin-top: 30%;
                        
                        h3{
                            font-size: 20px;
                        }
                        
                        p{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}