<div #scrollContainer id="scroll-container">
    <div class="monkey-bar">
        <div class="image-wrapper">
            <img id="bar" [src]="images[0].path" [alt]="images[0].name">
            <div class="description-2">
                <p id="title">tihomir's workshop.</p>
                <p id="welcome">welcome to tihomir's workshop. here I will share my experience in cooking and working out.</p>
            </div>
            <div class="gradient-overlay"></div>
        </div>
        
    </div>
    <div #cooking class="cooking">
        <div class="gradient-overlay-2"></div>
        <div class="meal-container">
            <div class="images">
                <div class="oatmeal-container">
                    <img id="oatmeal" [src]="images[1].path" [alt]="images[1].name" (click)="navigateToMeal('breakfast')">
                </div>
                <div class="rice-cakes-container">
                    <img id="rice-cakes" [src]="images[2].path" [alt]="images[2].name" (click)="navigateToMeal('lunch')">
                </div>
                <div class="ham-sandwich-container">
                    <img id="ham-sandwich" [src]="images[3].path" [alt]="images[3].name" (click)="navigateToMeal('snack')">
                </div>
                <div class="fruit-salad-container">
                    <img id="fruit-salad" [src]="images[4].path" [alt]="images[4].name" (click)="navigateToMeal('dinner')">
                </div>
            </div>
            
            <div class="meal-description">
                <div>
                    <h4>Start your day with a <span style="color: orangered;">HEALTHY BREAKFAST</span></h4>
                    <p>that will fill your stomach for a long time and won't have you craving for sweets or any other snacks until lunch.</p>
                    <hr color="orangered">
                </div>
                <div>
                    <h4>Enjoy your nutritious <span style="color: yellow;">LUNCH</span></h4>
                    <p>that isn't hard to make and doesn't take too much of your time. They are way healthier than anyting you can buy in a bakery.</p>
                    <hr color="yellow">
                </div>
                <div>
                    <h4>Take a break with some of our <span style="color: greenyellow;">QUICK AND HEALTHY SNACKS.</span></h4>
                    <p>Our quick and healty snacks contain only a few ingredients that are healthy and will give you energy to finish off your day at work.</p>
                    <hr color="greenyellow">
                </div>
                <div>
                    <h4>Finish off your day with our <span style="color: cyan;">DINNER</span></h4>
                    <p>that won't cause you trouble going to sleep and by adjusting ingredients can help you fill your macros that you couldn't get in during the day.</p>
                    <hr color="cyan">
                </div>   
            </div>
        </div>
        <div class="gradient-overlay-3"></div>
    </div>
    <div #workout class="workout-container">
        <div class="gradient-overlay-4"></div>
    
        <div class="descriptions">
            <div class="street-workout-container" (click)="navigateToSw()" [ngStyle]="{
                'background-image': 'url(' + images[6].path + ')',
                'background-size': 'cover',
                'background-repeat': 'no-repeat',
                'background-position': 'center center'}">
                <div class="sw-desc">
                    <h3>STREET WORKOUT</h3>
                    <hr style="border-color: orangered;">
                    <p>Wherever you find bars, you can do a high quality workout. The only thing you need is your body.</p>
                </div>
            </div>
        
            <div class="gym-container" (click)="navigateToGym()" [ngStyle]="{
                'background-image': 'url(' + images[7].path + ')',
                'background-size': 'cover',
                'background-repeat': 'no-repeat',
                'background-position': 'center center'}">
              <div class="gym-desc">
                <h3>GYM</h3>
                <hr style="border-color: orangered;">
                <p>Basic exercises for building muscles. With good form and some diet changes, you can come a long way.</p>
            </div>
            </div>
        </div>
    </div>
</div>