<div class="gym-container-loading-overlay" *ngIf="displayLoadingOverlay && sidebarService.$hasAvatarLoaded | async">
    <img src="assets/images/sidebar-icons/gym-aqua.png" alt="" height="70px" width="70px">
    <span>{{ loadingText }}</span>
</div>
<div class="gym-container" [hidden]="displayLoadingOverlay && sidebarService.$hasAvatarLoaded | async">
    <div class="gym">
        <img id="background-image" src="assets/images/street-workout/pullup-bar-cartoonish.png" alt="PULLUP-BAR">
        <div class="gym-description">
        </div>
        <div class="gym-description-2">
            <p id="title">gym.</p>
            <p id="welcome">
                gym is not only lifting weights and building big muscles. there's a lot of stuff and workouts you can do at the gym, but here
                I will show you what I did, and I'm still doing, for building muscles.
            </p>
        </div>
    
        <div class="gradient-overlay"></div>
    </div>
    
    <div class="bench-press-container">
        <div class="gradient-overlay-2">
        </div>

        <div class="bench">
            <div class="flat-bench-press">
                <video autoplay loop width="400px" height="400px" (loadeddata)="onVideoLoad()">
                    <source src="assets/videos/gym/flat-bench-press.mp4" type="video/mp4">
                </video>
                <div class="description">
                    <h3>FLAT BENCH PRESS</h3>
                    <hr>
                    <p>
                        One of the best exercises that you can do for building upper body strength. This is a <span style="color: cyan;">MUST DO</span> exercise. 
                    </p>
                    <p>
                        Stick your chest out, grab the bar where it feels the most comfortable, adjust your legs so your body is stable at all times. 
                        Make sure you control the movement at all times.
                    </p>
                    <p>
                        <span style="color: cyan;">MUSCLES:</span> Chest, Triceps, Shoulders
                    </p>
                    <p>
                        <span style="color: cyan;">DIFFICULTY: </span><span style="color: greenyellow;">Easy</span>
                    </p>
                </div>
            </div>
            
            <div class="incline-bench-press">
                <video autoplay loop width="400px" height="400px" (loadeddata)="onVideoLoad()">
                    <source src="assets/videos/gym/incline-bench-press.mp4" type="video/mp4">
                </video>
                <div class="description">
                    <h3>INCLINE BENCH PRESS</h3>
                    <hr>
                    <p>
                        Harder variation of bench press that targets more of your upper chest. Be careful with the weight you're lifting since you're 
                        weaker than on flat bench press.
                    </p>
                    <p>
                        Stick your chest out, grab the bar where it feels the most comfortable, adjust your legs so your body is stable at all times. 
                        Make sure you control the movement at all times.
                    </p>
                    <p>
                        <span style="color: cyan;">MUSCLES:</span> Upper chest, Triceps, Shoulders
                    </p>
                    <p>
                        <span style="color: cyan;">DIFFICULTY: </span> <span style="color: orange;">Medium</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="shoulders-container">
        <div class="overhead-press">
            <video autoplay loop width="400px" height="400px" (loadeddata)="onVideoLoad()">
                <source src="assets/videos/gym/overhead-press.mp4" type="video/mp4">
            </video>
            <div class="description">
                <h3>OVERHEAD PRESS</h3>
                <hr>
                <p>
                    Great exercise for building upper body strenght that targets more of your shoulders. This is a <span style="color: cyan;">MUST DO</span> exercise. 
                </p>
                <p>
                    Grab the bar a bit narrower than on benchpress, don't let your elbows go wide and make sure the bar doesn't go below your
                    upper chest.
                </p>
                <p>
                    <span style="color: cyan;">MUSCLES:</span> Shoulders, Triceps, Upper chest
                </p>
                <p>
                    <span style="color: cyan;">DIFFICULTY: </span><span style="color: greenyellow;">Easy</span>
                </p>
            </div>
        </div>
    
        <div class="shoulder-flies">
            <video autoplay loop width="400px" height="400px" (loadeddata)="onVideoLoad()">
                <source src="assets/videos/gym/shoulder-flies.mp4" type="video/mp4">
            </video>
            <div class="description">
                <h3>SHOULDER FLY</h3>
                <hr>
                <p>
                    An exercise that targets your side delts and gives your shoulders that round shape. You can't lift too much weight with this
                    exercise so be careful which dumbbels you pick.
                </p>
                <p>
                    Grab your dumbbels and lift them with your shoulders to the side. Make sure you don't swing your body.
                </p> 
                <p>
                    <span style="color: cyan;">MUSCLES:</span> Shoulders
                </p>
                <p>
                    <span style="color: cyan;">DIFFICULTY: </span><span style="color: greenyellow;">Easy</span>
                </p>
            </div>
        </div>
    </div>
    
    <div class="lower-upper-chest-container">
        <div class="weighted-dips">
            <video autoplay loop width="400px" height="400px" (loadeddata)="onVideoLoad()">
                <source src="assets/videos/gym/weighted-dips.mp4" type="video/mp4">
            </video>
            <div class="description">
                <h3>WEIGHTED DIPS</h3>
                <hr>
                <p>
                    Alongside benchpress, one of the best exercises you can do to increase your upper body strength.
                    This is a <span style="color: cyan;">MUST DO</span> exercise.
                </p>
                <p>
                    Lean forward and tighten your core. Make sure you do full range of motion.
                </p>
                <p>
                    <span style="color: cyan;">MUSCLES:</span> Chest, Triceps, Shoulders.
                </p>
                <p>
                    <span style="color: cyan;">DIFFICULTY: </span><span style="color: orange;">Medium</span>
                </p>
            </div>
        </div>
    
        <div class="incline-shoulder-flies">
            <video autoplay loop width="400px" height="400px" (loadeddata)="onVideoLoad()">
                <source src="assets/videos/gym/incline-chest-flies.mp4" type="video/mp4">
            </video>
            <div class="description">
                <h3>INCLINE CHEST FLY</h3>
                <hr>
                <p>
                    A great exercise that targets your upper chest. Be careful with the weights, since your shoulders are under a lot of pressure.
                </p>
                <p>
                    Stick your chest out, place your legs in a way that will make your body stable and don't go too low with the dumbbells.
                </p>
                <p>
                    <span style="color: cyan;">MUSCLES:</span> Upper chest, shoulders.
                </p>
                <p>
                    <span style="color: cyan;">DIFFICULTY: </span><span style="color: greenyellow;">Easy</span>
                </p>
            </div>
        </div>
    </div>
    
    <div class="back-container">
        <div class="bent-over-rows">
            <video autoplay loop width="400px" height="400px" (loadeddata)="onVideoLoad()">
                <source src="assets/videos/gym/bent-over-rows.mp4" type="video/mp4">
            </video>
            <div class="description">
                <h3>BENT OVER ROWS</h3>
                <hr>
                <p>
                    Great exercise for building a wide back. Be careful with how much weight you put because your lower back is under a lot of
                    pressure.
                </p>
                <p>
                    Grab a bar a bit wider than your shoulder width, bend over and try to be as parallel as you can with the floor and try not
                    to use momentum from your legs.
                </p>
                <p>
                    <span style="color: orangered;">MUSCLES:</span> Back, Biceps, Forearms
                </p>
                <p>
                    <span style="color: orangered;">DIFFICULTY: </span><span style="color: orange;">Medium</span>
                </p>
            </div>
        </div>
    
        <div class="one-arm-rows">
            <video autoplay loop width="400px" height="400px" (loadeddata)="onVideoLoad()">
                <source src="assets/videos/gym/one-arm-bent-over-row.mp4" type="video/mp4">
            </video>
            <div class="description">
                <h3>ONE ARM ROWS</h3>
                <hr>
                <p>
                    A back isolation exercise that hits your latissimus muscle even more.
                </p>
                <p>
                    Bend over or use a bench to get into a position like in a video, grab a dumbbell with your thumb over the bar and try not
                    to use too much momentum.
                </p>
                <p>
                    <span style="color: orangered;">MUSCLES:</span> Back, Biceps, Forearms
                </p>
                <p>
                    <span style="color: orangered;">DIFFICULTY: </span><span style="color: greenyellow;">Easy</span>
                </p>
            </div>
        </div>
    </div>
    
    <div class="curls-and-squats-container">
        <div class="curls">
            <video autoplay loop width="400px" height="400px" (loadeddata)="onVideoLoad()">
                <source src="assets/videos/gym/biceps-curls.mp4" type="video/mp4">
            </video>
            <div class="description">
                <h3>BICEPS CURLS</h3>
                <hr>
                <p>
                    A workout finisher that gives you a great biceps pump. Should be done at the end of your workout.
                </p>
                <p>
                    Grab a bar where your hands are as wide as your shoulders and go all the way up and down. Don't use too much momentum. For the last
                    2-3 reps you can throw the weights up and do negative reps.
                </p>
                <p>
                    <span>MUSCLES:</span> Biceps, Forearms.
                </p>
                <p>
                    <span>DIFFICULTY: </span><span style="color: greenyellow;">Easy</span>
                </p>
            </div>
        </div>
    
        <div class="squats">
            <video autoplay loop width="400px" height="400px" (loadeddata)="onVideoLoad()">
                <source src="assets/videos/gym/squats.mp4" type="video/mp4">
            </video>
            <div class="description">
                <h3>SQUATS</h3>
                <hr>
                <p>
                    One of the best exercises that you can do for your whole body, but primarily for your legs. 
                    This is a <span style="color: yellow;">MUST DO</span> exercise.
                </p>
                <p>
                    Try to figure out if low or high bar placement on your back suits you better. Your legs should be at your shoulder width and 
                    feet should be facing out a bit. Tighten your core so you lower back doesn't hurt and do the exercise slow and controlled.
                </p>
                <p>
                    <span>MUSCLES:</span> Legs, back.
                </p>
                <p>
                    <span>DIFFICULTY: </span><span style="color: orange;">Medium</span>
                </p>
            </div>
        </div>
    </div>

    <div class="deadlifts-container">
        <div class="romanian-deadlift">
            <video autoplay loop width="400px" height="400px" (loadeddata)="onVideoLoad()">
                <source src="assets/videos/gym/romanian-deadlift.mp4" type="video/mp4">
            </video>
            <div class="description">
                <h3>ROMANIAN DEADLIFT</h3>
                <hr>
                <p>
                    An exercise that targets your hamstrings and glute muscles. Should be done with squats to build complete legs.
                </p>
                <p>
                    Your legs should be at your shoulder width, push your hips back but don't move your knees forward. Lift with your legs, 
                    not with your back. Tighten your core so your lower back doesn't hurt.
                </p>
                <p>
                    <span>MUSCLES:</span> Legs, back.
                </p>
                <p>
                    <span>DIFFICULTY: </span><span style="color: orange;">Medium</span>
                </p>
            </div>
        </div>

        <div class="conventional-deadlift">
            <video autoplay loop width="400px" height="400px" (loadeddata)="onVideoLoad()">
                <source src="assets/videos/gym/conventional-deadlift.mp4" type="video/mp4">
            </video>
            <div class="description">
                <h3>CONVENTIONAL DEADLIFT</h3>
                <hr>
                <p>
                    A harder variation of deadlifts. Great for your whole body strength.
                </p>
                <p>
                    Your knees should be at your shoulder width, squat down with your legs and keep your back straight. Lift the barbell with
                    your legs not with your back. Tighten your core so your lower back doesn't hurt.                  
                </p>
                <p>
                    <span>MUSCLES:</span> Legs, back, arms.
                </p>
                <p>
                    <span>DIFFICULTY: </span><span style="color: orange;">Medium</span>
                </p>
            </div>
        </div>
    </div>

    <div class="split-squat-container">
        <div class="split-squat">
            <video autoplay loop width="400px" height="400px" (loadeddata)="onVideoLoad()">
                <source src="assets/videos/gym/split-squat.mp4" type="video/mp4">
            </video>
            <div class="description">
                <h3>SPLIT SQUAT</h3>
                <hr>
                <p>
                    A harder variation of squats. Be careful with the weights because you can lose your balance.
                </p>
                <p>
                    Step out with your your leg, tighten your core so your lower back doesn't hurt and carefully perform the exercise.
                </p>
                <p>
                    <span>MUSCLES:</span> Legs, back.
                </p>
                <p>
                    <span>DIFFICULTY: </span><span style="color: orangered;">Hard</span>
                </p>
            </div>
        </div>
    </div>
</div>

