<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="dim-overlay" *ngIf="helperService.isBackgroundDimmed()">

</div>

<div class="loading-overlay" *ngIf="isLoadingOverlayDisplayed()">
  <div class="bread-container">
    <img src="assets/images/sidebar-icons/bread-baking-waves.png" alt="Heat Wave" class="wave1" height="50px" width="100px">
    <img src="assets/images/sidebar-icons/bread-without-waves.png" alt="Baking Bread" class="bread" height="50px" width="100px">
    <span style="font-size: 24px; color: orangered; font-family: 'Courier New', Courier, monospace; font-weight: bold;">{{ getLoadingText() }}</span>
  </div>
</div>

<app-sidebar></app-sidebar>
<app-hamburger-sidebar></app-hamburger-sidebar>

<div class="main-content">
  <router-outlet></router-outlet>
  <div class="hamburger-container" (click)="toggleSidebar()">
    <div class="hamburger">
      <img src="assets/images/sidebar-icons/hamburger-menu-white.png" alt="hamburger-white" height="40px" width="40px">
    </div>
  </div>
</div>

<app-login></app-login>
<app-register></app-register>
<app-avatar-picker></app-avatar-picker>
<app-your-profile></app-your-profile>