<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="dim-overlay" *ngIf="helperService.dimBackground.value">
</div>

<app-sidebar></app-sidebar>
<app-hamburger-sidebar></app-hamburger-sidebar>

<div class="main-content">
  <router-outlet></router-outlet>
  <div class="hamburger-container" (click)="toggleSidebar()">
    <div class="hamburger">
      <img src="../assets/hamburger-menu-white.png" alt="hamburger-white" height="40px" width="40px">
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->
<app-login></app-login>
<app-register></app-register>
<app-avatar-picker></app-avatar-picker>
<app-your-profile></app-your-profile>