.sw-container-loading-overlay{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(6, 14, 8, 1);
    z-index: 2;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    gap: 20px;

    img{
        animation: pulsate 2s infinite ease-in-out;
    }

    span{
        font-size: 24px; 
        color: aqua; 
        font-family: 'Courier New', Courier, monospace; font-weight: bold;
    }

    @keyframes pulsate{
        0%{
            opacity: 0;
        }
        50%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
}

.sw-container{
    --lightgreen: #08170d;
    --darkgreen: #060e08;
    --h1-font-size: 100px;
    --welcome-font-size: 35px;
    --h3-font-size: 35px;
    --p-font-size: 20px;
    --description-width: 35%;
    overflow-x: hidden;
    overflow-y: hidden;

    .sw{
        width: 100vw;
        position: relative;

        .skeleton-pulse {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            animation: colorShift 1.5s infinite ease-in-out;
            width: 100vw;
            height: 1100px;
            background-color: #060e08;
            gap: 10px;

            img{
                height: 50px;
                width: 50px;
            }

            span{
                font-family: 'Courier New', Courier, monospace; 
                font-weight: bold;
                color: aqua;
                font-size: 18px;
            }
        }

        .skeleton-video-pulse{
            display: flex;
            flex-direction: column;
        }

        @keyframes colorShift {
            0% {
            background-color: #060e08; /* Darker green */
            }
            50% {
            background-color: #0b1a12; /* Slightly lighter green */
            }
            100% {
            background-color: #060e08; /* Back to original */
            }
        }
          
        .sw-description-2{
            position: absolute;
            top: 60%;
            margin-left: 8%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            width: 90%;
    
            #title{
                font-size: var(--h1-font-size);
                color: aqua;
                margin-bottom: 0;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                text-shadow: none;
            }
    
            #welcome{
                font-size: var(--welcome-font-size);
                color: whitesmoke;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                text-shadow: none;
            }
    
            z-index: 2;
        }
    
        img{
            height: 100%;
            width: 100vw;
        }
    
        hr{
            width: 95%;
            border-color: darkslategray;
            margin-bottom: 2%;
        }
    
        p{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: var(--p-font-size);
            color: white;
            text-shadow: 4px 4px 8px darkslategray;
        }
    
        .gradient-overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        }
    }
    
    .pullups-container{
        position: relative;
        background-color: var(--darkgreen);
        height: 768px;
        width: 100vw;
    
        .gradient-overlay-2 {
            position: absolute;
            top: 100;
            left: 0;
            width: 100%;
            height: 20%;
            background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        }

        .pulls{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            height: 100%;
        
            .pullups, .pullups-wide{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: var(--description-width);
                height: 400px;
                text-align: justify;
        
                video{
                    border-radius: 10px;
                }
        
                .description{
                    display: flex;
                    flex-direction: column;
                    margin-left: 5%;
                
                    h3{
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                        font-size: var(--h3-font-size);
                        color: orangered;
                        margin: 0;
                        text-align: center;
                    }
                
                    hr{
                        width: 100%;
                        border-color: orangered;
                    }
                
                    p{
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                        font-size: var(--p-font-size);
                        color: white;
                        text-shadow: 4px 4px 8px darkslategray;
                    }
                }
            }
        }
    }
    
    .pullups-container-2{
        background-color: var(--lightgreen);
        height: 768px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    
        .pullups-narrow, .pullups-alternate{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: var(--description-width);
            height: 400px;
            text-align: justify;
    
            video{
                border-radius: 10px;
            }
    
            .description{
                display: flex;
                flex-direction: column;
                margin-left: 5%;
            
                h3{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: var(--h3-font-size);
                    color: orangered;
                    margin: 0;
                    text-align: center;
                }
            
                hr{
                    width: 100%;
                    border-color: darkslategray;
                }
            
                p{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: var(--p-font-size);
                    color: white;
                    text-shadow: 4px 4px 8px darkslategray;
                }
    
                hr{
                    border-color: orangered;
                }
            }
        }
    }
    
    .chinups-container{
        background-color: var(--darkgreen);
        height: 768px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    
        .chinups, .chinups-narrow{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: var(--description-width);
            height: 400px;
            text-align: justify;
    
            video{
                border-radius: 10px;
            }
    
            .description{
                display: flex;
                flex-direction: column;
                margin-left: 5%;
            
                h3{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: var(--h3-font-size);
                    color: orangered;
                    margin: 0;
                    text-align: center;
                }
            
                hr{
                    width: 100%;
                    border-color: darkslategray;
                }
            
                p{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: var(--p-font-size);
                    color: white;
                    text-shadow: 4px 4px 8px darkslategray;
                }
    
                hr{
                    border-color: orangered;
                }
            }
        }
    }
    
    .dips-container{
        background-color: var(--darkgreen);
        height: 768px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    
        .dips, .straight-bar-dips{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: var(--description-width);
            height: 400px;
            text-align: justify;
    
            video{
                border-radius: 10px;
            }
    
            .description{
                display: flex;
                flex-direction: column;
                margin-left: 5%;
            
                h3{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: var(--h3-font-size);
                    color: cyan;
                    margin: 0;
                    text-align: center;
                }
            
                hr{
                    width: 100%;
                    border-color: darkslategray;
                }
            
                p{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: var(--p-font-size);
                    color: white;
                    text-shadow: 4px 4px 8px darkslategray;
                }
    
                hr{
                    border-color: cyan;
                }
    
                span{
                    color: cyan;
                }
            }
        }
    }
    
    .pushups-container{
        position: relative;
        background-color: var(--lightgreen);
        height: 768px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    
        .pushups, .skull-crushers{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: var(--description-width);
            height: 400px;
            text-align: justify;
    
            video{
                border-radius: 10px;
            }
    
            .description{
                display: flex;
                flex-direction: column;
                margin-left: 5%;
            
                h3{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: var(--h3-font-size);
                    color: cyan;
                    margin: 0;
                    text-align: center;
                }
            
                hr{
                    width: 100%;
                    border-color: darkslategray;
                }
            
                p{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: var(--p-font-size);
                    color: white;
                    text-shadow: 4px 4px 8px darkslategray;
                }
    
                hr{
                    border-color: cyan;
                }
    
                span{
                    color: cyan;
                }
            }
        }
    }
    
    .neutral-pullups-container{
        background-color: var(--lightgreen);
        height: 768px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .neutral-pullups-narrow, .neutral-pullups-wide{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: var(--description-width);
            height: 400px;
            text-align: justify;
    
            video{
                border-radius: 10px;
            }
    
            .description{
                display: flex;
                flex-direction: column;
                margin-left: 5%;
            
                h3{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: var(--h3-font-size);
                    color: orangered;
                    margin: 0;
                    text-align: center;
                }
            
                hr{
                    width: 100%;
                    border-color: orangered;
                }
            
                p{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: var(--p-font-size);
                    color: white;
                    text-shadow: 4px 4px 8px darkslategray;
                }
    
            }
        }
    }
    
    .muscle-ups-container{
        background-color: var(--darkgreen);
        height: 768px;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        .muscle-ups{
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: var(--description-width);
            height: 400px;
            text-align: justify;
    
            video{
                border-radius: 10px;
            }
    
            .description{
                display: flex;
                flex-direction: column;
                margin-left: 5%;
            
                h3{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: var(--h3-font-size);
                    color: yellow;
                    margin: 0;
                    text-align: center;
                }
            
                hr{
                    width: 100%;
                    border-color: yellow;
                }
            
                p{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: var(--p-font-size);
                    color: white;
                    text-shadow: 4px 4px 8px darkslategray;
                }
    
                span{
                    color: yellow;
                }
            }
        }
    }
}

@media screen and (max-width: 2400px){
    .sw-container{
        --description-width: 40%;
    }
}

@media screen and (max-width: 2010px){
    .sw-container{
        --h1-font-size: 80px;
        --welcome-font-size: 30px;
        --h3-font-size: 25px;
        --p-font-size: 18px;
    }

    video{
        height: 350px;
        width: 350px;
    }
}

@media screen and (max-width: 1800px){
    .sw-container{
        --h1-font-size: 60px;
        --welcome-font-size: 25px;
        --h3-font-size: 22px;
        --p-font-size: 18px;

        .pullups-container, .pullups-container-2, .chinups-container, .neutral-pullups-container, .dips-container, .pushups-container, .muscle-ups-container{
            padding-left: 2%;
        }
    }
}

@media screen and (max-width: 1650px){
    .sw-container{
        --p-font-size: 15px;

        video{
            height: 300px;
            width: 300px;
        }

        .sw{       
            .sw-description-2{
                position: absolute;
                top: 65%;
                margin-left: 15%;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
                width: 80%;
            }
        }

        .pullups-container{
            height: 850px;

            .pulls{
                padding: 5%;

                .pullups, .pullups-wide{
                    flex-direction: column;
                    justify-content: space-between;
                    height: 650px;
                    width: 30%;
                }
            }
        }

        .pullups-container-2{
            .pullups-narrow, .pullups-alternate{
                flex-direction: column;
                justify-content: space-between;
                height: 650px;
                width: 30%;
            }
        }

        .chinups-container{
            .chinups, .chinups-narrow{
                flex-direction: column;
                justify-content: space-between;
                height: 650px;
                width: 30%;
            }
        }

        .neutral-pullups-container{
            .neutral-pullups-narrow, .neutral-pullups-wide{
                flex-direction: column;
                justify-content: space-between;
                height: 650px;
                width: 30%;
            }
        }

        .dips-container{
            .dips, .straight-bar-dips{
                flex-direction: column;
                justify-content: space-between;
                height: 650px;
                width: 30%;
            }
        }

        .pushups-container{
            .skull-crushers, .pushups{
                flex-direction: column;
                justify-content: space-between;
                height: 650px;
                width: 30%;
            }
        }

        .muscle-ups-container{
            .muscle-ups{
                flex-direction: column;
                justify-content: space-between;
                height: 600px;
                width: 30%; 
            }
        }
    }
}

@media screen and (max-width: 1300px){
    .sw-container{
        --h1-font-size: 40px;
        --welcome-font-size: 18px;

        video{
            height: 250px;
            width: 250px;
        }

        .sw{       
            .sw-description-2{
                position: absolute;
                top: 65%;
                margin-left: 15%;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 1000px){
    .sw-container{
        --h1-font-size: 40px;
        --welcome-font-size: 16px;

        video{
            height: 250px;
            width: 250px;
        }

        .sw{       
            .sw-description-2{
                position: absolute;
                top: 65%;
                margin-left: 15%;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 850px){
        .sw-container{
        --h1-font-size: 40px;
        --welcome-font-size: 16px;

        video{
            height: 250px;
            width: 250px;
        }

        .sw{       
            .sw-description-2{
                position: absolute;
                top: 65%;
                margin-left: 17%;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
                width: 80%;
            }
        }

        .pullups-container{
            height: 1700px;

            .pulls{
                padding-top: 5%;
                flex-direction: column;

                .pullups, .pullups-wide{
                    z-index: 5;
                    flex-direction: column;
                    width: 50%;
                    height: 600px;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }

        .pullups-container-2{
            height: 1500px;
            flex-direction: column;

            .pullups-narrow, .pullups-alternate{
                flex-direction: column;
                width: 50%;
                height: 600px;
                align-items: center;
                justify-content: space-between;
            }
        }

        .chinups-container{
            height: 1500px;
            flex-direction: column;

            .chinups, .chinups-narrow{
                flex-direction: column;
                width: 50%;
                height: 600px;
                align-items: center;
                justify-content: space-between;
            }
        }

        .dips-container{
            height: 1700px;
            flex-direction: column;

            .dips, .straight-bar-dips{
                flex-direction: column;
                width: 50%;
                height: 600px;
                align-items: center;
                justify-content: space-between;
            }
        }

        
        .neutral-pullups-container{
            height: 1500px;
            flex-direction: column;

            .neutral-pullups-narrow, .neutral-pullups-wide{
                flex-direction: column;
                width: 50%;
                height: 600px;
                align-items: center;
                justify-content: space-between;
            }
        }
        
        .pushups-container{      
            height: 1500px;
            flex-direction: column;

            .pushups, .skull-crushers{
                flex-direction: column;
                width: 50%;
                height: 600px;
                align-items: center;
                justify-content: space-between;
            }
        }

        .muscle-ups-container{
            .muscle-ups{
                flex-direction: column;
                width: 50%;
                height: 600px;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

@media screen and (max-width: 650px){
    .sw-container{
        --h1-font-size: 40px;
        --welcome-font-size: 14px;

        video{
            height: 250px;
            width: 250px;
        }

        .sw{       
            .sw-description-2{
                position: absolute;
                top: 65%;
                margin-left: 10%;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
                width: 80%;
            }
        }

        .pullups-container{
            padding-left: 0;

            .pulls{
                padding-left: 0;

                .pullups, .pullups-wide{
                    width: 70%;

                    .description{
                        margin-left: 0;
                    }
                }
            }
        }

        .pullups-container-2{
            padding-left: 0;

            .pullups-narrow, .pullups-alternate{
                width: 70%;

                .description{
                    margin-left: 0;
                }
            }
        }

        .chinups-container{
            padding-left: 0;

            .chinups, .chinups-narrow{
                width: 70%;

                .description{
                    margin-left: 0;
                }
            }
        }

        .dips-container{
            padding-left: 0;

            .dips, .straight-bar-dips{
                width: 70%;

                .description{
                    margin-left: 0;
                }
            }
        }

        
        .neutral-pullups-container{
            padding-left: 0;

            .neutral-pullups-narrow, .neutral-pullups-wide{
                width: 70%;

                .description{
                    margin-left: 0;
                }
            }
        }
        
        .pushups-container{     
            padding-left: 0;

            .pushups, .skull-crushers{
                width: 70%;

                .description{
                    margin-left: 0;
                }
            }
        }

        .muscle-ups-container{
            padding-left: 0;
            
            .muscle-ups{
                width: 70%;

                .description{
                    margin-left: 0;
                }
            }
        }
    }
}
