<div class="sw-container">
    <div class="sw">
        <img [src]="images[0].path" [alt]="images[0].name">
        <div class="sw-description">
            <h1>STREET WORKOUT</h1>
            <p>STREET WORKOUT IS A WORKOUT STYLE IN A PARK OR ON A STREET, WHEREVER YOU CAN FIND BARS.</p>
            <br>
            <p>EXERCISES ARE DONE WITH YOUR OWN BODY AND RANGE FROM VERY EASY ONES THAT EVERYONE CAN DO TO VERY HARD ONES THAT ONLY EXPERIENCED ATHLETES CAN DO AND BEGINNERS CAN ONLY ADMIRE.</p>
            <br>
            <hr>
            <p>HERE I WILL SHOW YOU SOME EXERCISES THAT ARE ENOUGH TO BUILD MUSCLES AND A FINE BODY.</p>
            <br>
            <p>EVEN THOUGH YOU CAN BUILD A NICE BODY WITH THESE EXERCISES, THERE ARE SOME MUSCLE GROUPS THAT WILL FALL BEHIND, BECAUSE YOU CANNOT TARGET EVERY SINGLE MUSCLE WITH THIS STYLE OF WORKOUT.</p>
            <br>
            <p>FOR BUILDING A MORE COMPLETE AND ALL ROUND BODY YOU SHOULD CHECK OUT THE <span style="color: darkslategray; text-shadow: 1px 1px 1px wheat;">GYM</span> PAGE.</p>
        </div>
        <div class="gradient-overlay"></div>
    </div>
    
    <div class="pullups-container">
        <div class="gradient-overlay-2">
            <!-- <p style="color: orangered; text-align: center; ">PULL</p> -->
        </div>
        
        <div class="pullups">
            <video autoplay loop width="400px" height="400px">
                <source [src]="videos[0].path" type="video/mp4">
            </video>
            <div class="description">
                <h3>PULLUPS</h3>
                <hr>
                <p>
                    Great exercise for building upper body strength that targets back and arm muscles. This is a <span style="color: orangered;">MUST DO</span> exercise. 
                </p>
                <p>
                    Palms are facing away from you, retract your back, 
                    tighten your core and legs and pull yourself up. 
                </p>
                <p>
                    <span style="color: orangered;">MUSCLES:</span> Back, Biceps, Forearms
                </p>
                <p>
                    <span style="color: orangered;">DIFFICULTY: </span><span style="color: orange;">Moderate</span>
                </p>
            </div>
        </div>
        
        <div class="pullups-wide">
            <video autoplay loop width="400px" height="400px">
                <source [src]="videos[1].path" type="video/mp4">
            </video>
            <div class="description">
                <h3>INVERTED ROWS</h3>
                <hr>
                <p>
                    Harder variation of pullups. You can implement it in your workout, but there is a better exercise.
                </p>
                <p>
                    Palms are facing away from you, retract your back, 
                    tighten your core and legs and pull yourself up. 
                </p>
                <p>
                    <span style="color: orangered;">MUSCLES:</span> Back, Biceps, Forearms
                </p>
                <p>
                    <span style="color: orangered;">DIFFICULTY: </span> <span style="color: greenyellow;">Easy</span>
                </p>
            </div>
        </div>
    </div>
    
    <div class="pullups-container-2">
        <div class="pullups-narrow">
            <video autoplay loop width="400px" height="400px">
                <source [src]="videos[2].path" type="video/mp4">
            </video>
            <div class="description">
                <h3>CLOSE GRIP PULLUPS</h3>
                <hr>
                <p>
                    Great exercise for building upper body strength that targets back and arm muscles. This is a <span style="color: orangered;">MUST DO</span> exercise. 
                </p>
                <p>
                    Palms are facing away from you, retract your back, 
                    tighten your core and legs and pull yourself up. 
                </p>
                <p>
                    <span style="color: orangered;">MUSCLES:</span> Back, Biceps, Forearms
                </p>
                <p>
                    <span style="color: orangered;">DIFFICULTY: </span><span style="color: orange;">Moderate</span>
                </p>
            </div>
        </div>
    
        <div class="pullups-alternate">
            <video autoplay loop width="400px" height="400px">
                <source [src]="videos[3].path" type="video/mp4">
            </video>
            <div class="description">
                <h3>ALTERNATING PULLUPS</h3>
                <hr>
                <p>
                    Great exercise for building upper body strength that targets back and arm muscles. This is a <span style="color: orangered;">MUST DO</span> exercise. 
                </p>
                <p>
                    Palms are facing away from you, retract your back, 
                    tighten your core and legs and pull yourself up. 
                </p>
                <p>
                    <span style="color: orangered;">MUSCLES:</span> Back, Biceps, Forearms
                </p>
                <p>
                    <span style="color: orangered;">DIFFICULTY: </span><span style="color: orange;">Moderate</span>
                </p>
            </div>
        </div>
    </div>
    
    <div class="chinups-container">
        <div class="chinups">
            <video autoplay loop width="400px" height="400px">
                <source [src]="videos[4].path" type="video/mp4">
            </video>
            <div class="description">
                <h3>CHINUPS</h3>
                <hr>
                <p>
                    Great exercise for building upper body strength that targets back and arm muscles. This is a <span style="color: orangered;">MUST DO</span> exercise. 
                </p>
                <p>
                    Palms are facing away from you, retract your back, 
                    tighten your core and legs and pull yourself up. 
                </p>
                <p>
                    <span style="color: orangered;">MUSCLES:</span> Back, Biceps, Forearms
                </p>
                <p>
                    <span style="color: orangered;">DIFFICULTY: </span><span style="color: orange;">Moderate</span>
                </p>
            </div>
        </div>
    
        <div class="chinups-narrow">
            <video autoplay loop width="400px" height="400px">
                <source [src]="videos[5].path" type="video/mp4">
            </video>
            <div class="description">
                <h3>CLOSE GRIP CHINUPS</h3>
                <hr>
                <p>
                    Great exercise for building upper body strength that targets back and arm muscles. This is a <span style="color: orangered;">MUST DO</span> exercise. 
                </p>
                <p>
                    Palms are facing away from you, retract your back, 
                    tighten your core and legs and pull yourself up. 
                </p>
                <p>
                    <span style="color: orangered;">MUSCLES:</span> Back, Biceps, Forearms
                </p>
                <p>
                    <span style="color: orangered;">DIFFICULTY: </span><span style="color: orange;">Moderate</span>
                </p>
            </div>
        </div>
    </div>
    
    <div class="neutral-pullups-container">
        <div class="neutral-pullups-narrow">
            <video autoplay loop width="400px" height="400px">
                <source [src]="videos[6].path" type="video/mp4">
            </video>
            <div class="description">
                <h3>NEUTRAL PULLUPS</h3>
                <hr>
                <p>
                    Great exercise for building upper body strength that targets back and arm muscles. This is a <span style="color: orangered;">MUST DO</span> exercise. 
                </p>
                <p>
                    Palms are facing away from you, retract your back, 
                    tighten your core and legs and pull yourself up. 
                </p>
                <p>
                    <span style="color: orangered;">MUSCLES:</span> Back, Biceps, Forearms
                </p>
                <p>
                    <span style="color: orangered;">DIFFICULTY: </span><span style="color: orange;">Moderate</span>
                </p>
            </div>
        </div>
    
        <div class="neutral-pullups-wide">
            <video autoplay loop width="400px" height="400px">
                <source [src]="videos[7].path" type="video/mp4">
            </video>
            <div class="description">
                <h3>WIDE NEUTRAL PULLUPS</h3>
                <hr>
                <p>
                    Great exercise for building upper body strength that targets back and arm muscles. This is a <span style="color: orangered;">MUST DO</span> exercise. 
                </p>
                <p>
                    Palms are facing away from you, retract your back, 
                    tighten your core and legs and pull yourself up. 
                </p>
                <p>
                    <span style="color: orangered;">MUSCLES:</span> Back, Biceps, Forearms
                </p>
                <p>
                    <span style="color: orangered;">DIFFICULTY: </span><span style="color: orange;">Moderate</span>
                </p>
            </div>
        </div>
    </div>
    
    <div class="dips-container">
        <div class="dips">
            <video autoplay loop width="400px" height="400px">
                <source [src]="videos[8].path" type="video/mp4">
            </video>
            <div class="description">
                <h3>DIPS</h3>
                <hr>
                <p>
                    Great exercise for building upper body strength that targets back and arm muscles. This is a <span>MUST DO</span> exercise. 
                </p>
                <p>
                    Palms are facing away from you, retract your back, 
                    tighten your core and legs and pull yourself up. 
                </p>
                <p>
                    <span>MUSCLES:</span> Triceps, Lower chest, Front shoulder
                </p>
                <p>
                    <span>DIFFICULTY: </span><span style="color: orange;">Moderate</span>
                </p>
            </div>
        </div>
    
        <div class="straight-bar-dips">
            <video autoplay loop width="400px" height="400px">
                <source [src]="videos[9].path" type="video/mp4">
            </video>
            <div class="description">
                <h3>STRAIGHT BAR DIPS</h3>
                <hr>
                <p>
                    Great exercise for building upper body strength that targets back and arm muscles. This is a <span>MUST DO</span> exercise. 
                </p>
                <p>
                    Palms are facing away from you, retract your back, 
                    tighten your core and legs and pull yourself up. 
                </p>
                <p>
                    <span>MUSCLES:</span> Triceps, Lower chest, Front shoulder
                </p>
                <p>
                    <span>DIFFICULTY: </span><span style="color: orange;">Moderate</span>
                </p>
            </div>
        </div>
    </div>
    
    <div class="pushups-container">
        <div class="pushups">
            <video autoplay loop width="400px" height="400px">
                <source [src]="videos[10].path" type="video/mp4">
            </video>
            <div class="description">
                <h3>PUSHUPS</h3>
                <hr>
                <p>
                    Great exercise for building upper body strength that targets back and arm muscles. This is a <span>MUST DO</span> exercise. 
                </p>
                <p>
                    Palms are facing away from you, retract your back, 
                    tighten your core and legs and pull yourself up. 
                </p>
                <p>
                    <span>MUSCLES:</span> Triceps, Chest, Front shoulder
                </p>
                <p>
                    <span>DIFFICULTY: </span><span style="color: greenyellow;">Easy</span>
                </p>
            </div>
        </div>
    
        <div class="skull-crushers">
            <video autoplay loop width="400px" height="400px">
                <source [src]="videos[10].path" type="video/mp4">
            </video>
            <div class="description">
                <h3>SKULL-CRUSHERS</h3>
                <hr>
                <p>
                    Great exercise for building upper body strength that targets back and arm muscles. This is a <span>MUST DO</span> exercise. 
                </p>
                <p>
                    Palms are facing away from you, retract your back, 
                    tighten your core and legs and pull yourself up. 
                </p>
                <p>
                    <span>MUSCLES:</span> Triceps
                </p>
                <p>
                    <span>DIFFICULTY: </span><span style="color: greenyellow;">Easy</span>
                </p>
            </div>
        </div>
    </div>

    <div class="muscle-ups-container">
        <div class="muscle-ups">
            <video autoplay loop width="400px" height="400px">
                <source [src]="videos[11].path" type="video/mp4">
            </video>
            <div class="description">
                <h3>MUSCLE UP</h3>
                <hr>
                <p>
                    A show-off exercise. Doesn't really build muscle or require strength. It takes time to learn the technique.
                </p>
                <p>
                    Get into pullup position, swing yourself forward, pull yourself up with back muscles, swing your legs and lean forward at the top.
                </p>
                <p>
                    <span>MUSCLES:</span> Back, Triceps
                </p>
                <p>
                    <span>DIFFICULTY: </span><span style="color: orangered;">Hard</span>
                </p>
            </div>
        </div>
    </div>
</div>

