<div class="gym-essentials-wrapper">
    <div class="background">
        <img id="background-image" src="assets/images/gym-essentials/pullup-bar-cartoonish.png" alt="PULLUP-BAR">
        <div class="description-2">
            <p id="title">gym essentials.</p>
            <p id="welcome">this is the stuff that I cannot go without. I highly recommend every piece of equipment shown below. it's not expensive and makes your workout way easier.</p>
        </div>
        <div class="gradient-overlay"></div>
    </div>
    
    <div class="equipment">
        <div class="gradient-overlay-2"></div>
        <div class="chalk-and-straps">
            <div class="chalk">
                <img class="equipment-img" src="assets/images/gym-essentials/gym-chalk.jpg" alt="GYM-CHALK">
                <div class="chalk-description">
                    <h3 style="color: aqua;">GYM CHALK</h3>
                    <hr style="border-color: aqua;">
                    <p>
                        Gym chalk provides additional grip. It's great for doing pullups when bars are slippery. You can also use it for heavy lifts like deadlifts 
                        but straps are better for that. If you get blisters gloves are a better option.
                    </p>
                </div>
            </div>

            <div class="straps">
                <img class="equipment-img" src="assets/images/gym-essentials/gym-straps.jpg" alt="GYM-STRAPS">
                <div class="straps-description">
                    <h3 style="color: aqua;">STRAPS</h3>
                    <hr style="border-color: aqua;">
                    <p>
                        When doing heavy lifts, your hands can't hold the weights anymore. These straps help you hold the weight, but your forearms and 
                        arm muscles aren't working that much anymore. Use them only when weight is too heavy.
                    </p>
                </div>
            </div>
        </div>

        <div class="chain-and-gloves">
            <div class="chain">
                <img class="equipment-img" src="assets/images/gym-essentials/chain-belt.png" alt="GYM-CHALK">
                <div class="chain-description">
                    <h3 style="color: aqua;">CHAIN BELT</h3>
                    <hr style="border-color: aqua;">
                    <p>
                        Chain belt helps you add more weight to your bodyweight exercises. If you can do a lot of pullups and dips you can add more weight
                        to increase your strength.
                    </p>
                </div>
            </div>

            <div class="gloves">
                <img class="equipment-img" src="assets/images/gym-essentials/gym-gloves.jpg" alt="GYM-STRAPS">
                <div class="gloves-description">
                    <h3 style="color: aqua;">GYM GLOVES</h3>
                    <hr style="border-color: aqua;">
                    <p>
                        Gym gloves provide more grip, a bit less than chalk, but prevent blisters. You can use them for every lift, but you won't feel
                        the bar as good as bare handed.
                    </p>
                </div>
            </div>
        </div>

        <div class="belt-and-resistance-band">
            <div class="belt">
                <img class="equipment-img" src="assets/images/gym-essentials/gym-belt.jpg" alt="GYM-CHALK">
                <div class="belt-description">
                    <h3 style="color: aqua;">GYM BELT</h3>
                    <hr style="border-color: aqua;">
                    <p>
                        Gym belt helps you stabilize and engage your core. If you're doing heavy lifts you put a lot of pressure on your lower back and core.
                        Wearing a belt will help you lift more weight and prevent hernias in your back and core.
                    </p>
                </div>
            </div>

            <div class="resistance-band">
                <img class="equipment-img" src="assets/images/gym-essentials/resistance-bands.jpg" alt="GYM-STRAPS">
                <div class="resistance-band-description">
                    <h3 style="color: aqua;">RESISTANCE BANDS</h3>
                    <hr style="border-color: aqua;">
                    <p>
                        Resistance bands can help you in various ways. They can help you learn pullups and muscle-ups, engage your muscles during a warmup
                        and even replace your dumbbels. The resistance is variable so depending on where you grab it you will get that much tension.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
