.gym-essentials-wrapper{
    --lightgreen: #08170d;
    --darkgreen: #060e08;

    --h1-font-size: 100px;
    --welcome-font-size: 35px;
    --h3-font-size: 30px;
    --p-font-size: 25px;

    position: relative;
    width: 100%;
    text-align: justify;

    .background{
        position: relative;

        img{
            width: 100%;
            height: 100%;
        }

        .gradient-overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        }
    }
    
    // .description{
    //     position: absolute;
    //     top: 20%;
    //     margin-left: 25%;
    //     width: 55%; 
    //     text-align: center;
        
    //     span{
    //         color: darkslategray;
    //         text-shadow: 2px 2px 4px white;
    //     }

    //     p{
    //         color: white;
    //         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    //         font-size: var(--h1-font-size);
    //         text-shadow: 4px 4px 8px darkslategray;   
    //     }

    //     hr{
    //         width: 100%;
    //         border-color: darkslategray;
    //     }
    // }

    .description-2{
        position: absolute;
        top: 65%;
        margin-left: 8%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        width: 90%;

        #title{
            font-size: var(--h1-font-size);
            color: aqua;
            margin-bottom: 0;
        }

        #welcome{
            font-size: var(--welcome-font-size);
            color: whitesmoke;
        }

        z-index: 3;
    }

    .equipment{
        position: relative;
        width: 100%;
        height: 2000px;
        background-color: var(--darkgreen);

        .gradient-overlay-2 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 20vh;
            background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
            z-index: 2;
        }

        .chalk-and-straps{
            padding-top: 200px;
            background-color: var(--darkgreen);
            position: absolute;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 600px;
            justify-content: space-around;

            .chalk{
                margin-left: 10%;
                display: flex;
                flex-direction: row;
                width: 50%;
    
                img{
                    border-radius: 10px;
                    height: 400px;
                    width: 400px;
                }
    
                .chalk-description{
                    display: flex;
                    flex-direction: column;
                    width: 40%;
    
                    h3, p{
                        margin-left: 10%;
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                        font-size: var(--p-font-size);
                        color: white;
                        text-shadow: 4px 4px 8px darkslategray;
                    }
    
                    h3{
                        font-size: var(--h3-font-size) !important;
                    }
    
                    hr{
                        width: 90%;
                        margin-left: 10%;
                    }
                }
            }

            .straps{
                display: flex;
                flex-direction: row;
                width: 50%;
    
                img{
                    border-radius: 10px;
                    height: 400px;
                    width: 400px;
                }
    
                .straps-description{
                    display: flex;
                    flex-direction: column;
                    width: 40%;
    
                    h3, p{
                        margin-left: 10%;
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                        font-size: var(--p-font-size);
                        color: white;
                        text-shadow: 4px 4px 8px darkslategray;
                    }
    
                    h3{
                        font-size: var(--h3-font-size) !important;
                    }
    
                    hr{
                        width: 90%;
                        margin-left: 10%;
                    }
                }
            }
        }

        .chain-and-gloves{
            margin-top: 600px;
            padding-top: 200px;
            background-color: var(--darkgreen);
            position: absolute;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 600px;
            justify-content: space-around;

            .chain{
                margin-left: 10%;
                display: flex;
                flex-direction: row;
                width: 50%;
    
                img{
                    border-radius: 10px;
                    height: 400px;
                    width: 400px;
                }
    
                .chain-description{
                    display: flex;
                    flex-direction: column;
                    width: 40%;
    
                    h3, p{
                        margin-left: 10%;
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                        font-size: var(--p-font-size);
                        color: white;
                        text-shadow: 4px 4px 8px darkslategray;
                    }
    
                    h3{
                        font-size: var(--h3-font-size) !important;
                    }
    
                    hr{
                        width: 90%;
                        margin-left: 10%;
                    }
                }
            }

            .gloves{
                display: flex;
                flex-direction: row;
                width: 50%;
    
                img{
                    border-radius: 10px;
                    height: 400px;
                    width: 400px;
                }
    
                .gloves-description{
                    display: flex;
                    flex-direction: column;
                    width: 40%;
    
                    h3, p{
                        margin-left: 10%;
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                        font-size: var(--p-font-size);
                        color: white;
                        text-shadow: 4px 4px 8px darkslategray;
                    }
    
                    h3{
                        font-size: var(--h3-font-size) !important;
                    }
    
                    hr{
                        width: 90%;
                        margin-left: 10%;
                    }
                }
            }
        }

        .belt-and-resistance-band{
            margin-top: 1200px;
            padding-top: 200px;
            background-color: var(--darkgreen);
            position: absolute;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 600px;
            justify-content: space-around;

            .belt{
                margin-left: 10%;
                display: flex;
                flex-direction: row;
                width: 50%;
    
                img{
                    border-radius: 10px;
                    height: 400px;
                    width: 400px;
                }
    
                .belt-description{
                    display: flex;
                    flex-direction: column;
                    width: 40%;
    
                    h3, p{
                        margin-left: 10%;
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                        font-size: var(--p-font-size);
                        color: white;
                        text-shadow: 4px 4px 8px darkslategray;
                    }
    
                    h3{
                        font-size: var(--h3-font-size) !important;
                    }
    
                    hr{
                        width: 90%;
                        margin-left: 10%;
                    }
                }
            }

            .resistance-band{
                display: flex;
                flex-direction: row;
                width: 50%;
    
                img{
                    border-radius: 10px;
                    height: 400px;
                    width: 400px;
                }
    
                .resistance-band-description{
                    display: flex;
                    flex-direction: column;
                    width: 40%;
    
                    h3, p{
                        margin-left: 10%;
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                        font-size: var(--p-font-size);
                        color: white;
                        text-shadow: 4px 4px 8px darkslategray;
                    }
    
                    h3{
                        font-size: var(--h3-font-size) !important;
                    }
    
                    hr{
                        width: 90%;
                        margin-left: 10%;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 2010px){
    .gym-essentials-wrapper{
        --h1-font-size: 80px;
        --welcome-font-size: 30px;
        --h3-font-size: 25px;
        --p-font-size: 22px;
    }


    img:not(#background-image){
        height: 350px;
        width: 350px;
    }
}

@media screen and (max-width: 1800px){
    .gym-essentials-wrapper{
        --h1-font-size: 60px;
        --welcome-font-size: 25px;
        --h3-font-size: 22px;
        --p-font-size: 18px;

        .description-2{
            position: absolute;
            top: 65%;
            margin-left: 10%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            width: 80%;
    
            #title{
                font-size: var(--h1-font-size);
                color: aqua;
                margin-bottom: 0;
            }
    
            #welcome{
                font-size: var(--welcome-font-size);
                color: whitesmoke;
            }
    
            z-index: 3;
        }

        .equipment{
            .chalk-and-straps, .chain-and-gloves, .belt-and-resistance-band{
                height: 500px;
            }

            .chain-and-gloves{
                margin-top: 500px;
            }

            .belt-and-resistance-band{
                margin-top: 1000px;
            }
        }
    }


    img:not(#background-image){
        height: 300px;
        width: 300px;
    }
}

@media screen and (max-width: 1480px){
    .gym-essentials-wrapper{
        --h1-font-size: 50px;
        --welcome-font-size: 20px;
        --h3-font-size: 18px;
        --p-font-size: 15px;

        .equipment{
            .chalk-and-straps, .chain-and-gloves, .belt-and-resistance-band{
                height: 400px;
            }

            .chain-and-gloves{
                margin-top: 450px;
            }

            .belt-and-resistance-band{
                margin-top: 900px;
            }
        }
        
    }


    img:not(#background-image){
        height: 250px;
        width: 250px;
    }
}

@media screen and (max-width: 1200px){
    .gym-essentials-wrapper{
        --h1-font-size: 40px;
        --welcome-font-size: 18px;
        --h3-font-size: 15px;
        --p-font-size: 12px;

        .description-2{
            position: absolute;
            top: 65%;
            margin-left: 15%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            width: 80%;
    
            #title{
                font-size: var(--h1-font-size);
                color: aqua;
                margin-bottom: 0;
            }
    
            #welcome{
                font-size: var(--welcome-font-size);
                color: whitesmoke;
            }
    
            z-index: 3;
        }

        .equipment{
            .chalk-and-straps, .chain-and-gloves, .belt-and-resistance-band{
                height: 400px;

                .chalk, .chain, .belt{
                    margin-left: 15%;
                }
            }

            .chain-and-gloves{
                margin-top: 450px;
            }

            .belt-and-resistance-band{
                margin-top: 900px;
            }
        }
        
    }


    img:not(#background-image){
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-width: 950px){
    .gym-essentials-wrapper{
        --h1-font-size: 50px;
        --welcome-font-size: 15px;
        --h3-font-size: 20px;
        --p-font-size: 15px;

        .description-2{
            position: absolute;
            top: 65%;
            margin-left: 17%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            width: 80%;
    
            #title{
                font-size: var(--h1-font-size);
                color: aqua;
                margin-bottom: 0;
            }
    
            #welcome{
                font-size: var(--welcome-font-size);
                color: whitesmoke;
            }
    
            z-index: 3;
        }

        .equipment{
            height: 2100px;

            .chalk-and-straps{
                padding-top: 150px !important;
            }

            .chalk-and-straps, .chain-and-gloves, .belt-and-resistance-band{
                height: 600px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 0;
                width: 100%;

                .chalk, .belt, .resistance-band, .straps{
                    width: 80%;
                }

                .chalk > .chalk-description{
                    width: 50%;
                }

                .straps{
                    margin-left: 15%;

                    .straps-description{
                        width: 50%;
                    }
                }
            }

            .chain-and-gloves{
                margin-top: 750px;

                .chain, .gloves{
                    width: 80%;
                }

                .chain > .chain-description{
                    width: 50%;
                }

                .gloves{
                    margin-left: 15%;

                    .gloves-description{
                        width: 50%;
                    }
                }
            }

            .belt-and-resistance-band{
                margin-top: 1350px;
                height: 600px;

                .belt, .resistance-band{
                    width: 80%;
                }

                .belt > .belt-description{
                    width: 50%;
                }
                
                .resistance-band{
                    margin-left: 15%;

                    .resistance-band-description{
                        width: 50%;
                    }
                }
            }
        }
    }

    img:not(#background-image){
        height: 200px;
        width: 200px;
    }
}

@media screen and (max-width: 650px){
    .gym-essentials-wrapper{
        --h1-font-size: 40px;
        --welcome-font-size: 20px
        --h3-font-size: 20px;
        --p-font-size: 12px;

        .description-2{
            position: absolute;
            top: 20%;
            margin-left: 8%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            width: 90%;
    
            #title{
                font-size: var(--h1-font-size);
                color: aqua;
                margin-bottom: 0;
            }
    
            #welcome{
                font-size: var(--welcome-font-size);
                color: whitesmoke;
            }
    
            z-index: 3;
        }

        .equipment{
            height: 2100px;

            .chalk-and-straps{
                padding-top: 150px !important;
            }

            .chalk-and-straps, .chain-and-gloves, .belt-and-resistance-band{
                height: 600px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 0;
                width: 100%;

                .chalk, .belt, .resistance-band, .straps{
                    width: 80%;
                }

                .chalk > .chalk-description{
                    width: 50%;
                }

                .straps{
                    margin-left: 15%;

                    .straps-description{
                        width: 50%;
                    }
                }
            }

            .chain-and-gloves{
                margin-top: 750px;

                .chain, .gloves{
                    width: 80%;
                }

                .chain > .chain-description{
                    width: 50%;
                }

                .gloves{
                    margin-left: 15%;

                    .gloves-description{
                        width: 50%;
                    }
                }
            }

            .belt-and-resistance-band{
                margin-top: 1350px;
                height: 600px;

                .belt, .resistance-band{
                    width: 80%;
                }

                .belt > .belt-description{
                    width: 50%;
                }
                
                .resistance-band{
                    margin-left: 15%;

                    .resistance-band-description{
                        width: 50%;
                    }
                }
            }
        }
    }

    img:not(#background-image){
        height: 200px;
        width: 200px;
    }
}