<div class="lunch-ideas-loading-overlay" *ngIf="isLoadingOverlayDisplayed() && sidebarService.$hasAvatarLoaded | async">
    <img src="assets/images/sidebar-icons/kitchen-orange.png" alt="WORKOUT" height="70px" width="70px">
    <span>{{ getLoadingText() }}</span>
</div>

<div class="lunch-ideas-wrapper" [hidden]="isLoadingOverlayDisplayed() && sidebarService.$hasAvatarLoaded | async">
    <div class="background">
        <img id="background-image" src="assets/images/kitchen-essentials/kitchen-background.jpg" alt="KITCHEN" (load)="onImageLoad()">
        <div class="description-2">
            <p id="title">lunch ideas.</p>
            <p id="welcome">
                lunch ideas that can be made in various combinations. my main ingredients are always some kind of meat, healthy carbs and some kind
                of vegetables.
            </p>
        </div>
        <div class="gradient-overlay"></div>
    </div>
    
    <div class="lunch-ideas">
        <div class="gradient-overlay-2"></div>

        <div class="lunch-ideas-container">
            <div class="pasta-and-beef">
                <div class="pasta">
                    <img class="equipment-img" src="assets/images/lunch-ideas/chicken-with-pasta.jpg" alt="CHICKEN-WITH-PASTA">
                    <div class="pasta-description">
                        <h3>CHICKEN WITH PASTA</h3>
                        <hr>
                        <p>
                            One of my favourite meals that I could eat every day. Chicken should be fried on butter, cook pasta and broccoli together, stir it 
                            together with creme and put some cheese on top.
                            <br><br> <span style="color: orange;">INGREDIENTS: 
                            chicken, pasta, broccoli, cheese, creme.</span>
                        </p>
                    </div>
                </div>
    
                <div class="beef">
                    <img class="equipment-img" src="assets/images/lunch-ideas/beef-tomato-pasta.jpg" alt="BEEF-WITH-TOMATO">
                    <div class="beef-description">
                        <h3>BEEF WITH TOMATO SAUCE</h3>
                        <hr>
                        <p>
                            Beef is the best type of meat for building muscles, but it contains more fat and cholesterole than chicken so don't eat it
                            too often. 
                            <br><br> <span style="color: orange;">INGREDIENTS: 
                            ground beef, tomato sauce, pasta, parsley.</span>
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="chicken-and-tortilla">
                <div class="chicken">
                    <img class="equipment-img" src="assets/images/lunch-ideas/chicken-and-broccoli.jpg" alt="CHICKEN-WITH-BROCCOLI">
                    <div class="chicken-description">
                        <h3>CHICKEN WITH RICE AND BROCCOLI</h3>
                        <hr>
                        <p>
                            Similar meal to the meal above, you can replace pasta with rice. Tomato sauce goes better with this combination. 
                            <br><br> <span style="color: orange;">INGREDIENTS: 
                            chicken, rice, broccoli, tomato sauce.</span>
                        </p>
                    </div>
                </div>
    
                <div class="tortilla">
                    <img class="equipment-img" src="assets/images/lunch-ideas/chicken-tortilla.jpg" alt="CHICKEN-TORTILLA">
                    <div class="tortilla-description">
                        <h3>CHICKEN TORTILLA</h3>
                        <hr>
                        <p>
                            When I feel like adding more vegetables or toppings to my meal, I simply wrap my meal in a tortilla. I usually add some
                            corn and pickles. Try to find a good sauce that goes with it.
                            <br><br> <span style="color: orange;">INGREDIENTS: 
                            wheat tortilla, chicken, corn, salad, tomato sauce.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
