<div class="loading" *ngIf="isLoading">
    <img src="assets/images/sidebar-icons/workout-locations.png" alt="" height="70px" width="70px">
    <span>loading map...</span>
</div>
<div class="map-wrap">
    <div class="map" #map></div>
    <div class="legend">
        <div class="red-marker">
            <img src="assets/images/map/red-marker-icon.png" alt="RED-MARKER" height="40px" width="40px">
            <p style="color: red;">STREET WORKOUT PARK</p>
        </div>
        <div class="green-marker">
            <img src="assets/images/map/green-marker-icon.png" alt="GREEN-MARKER" height="40px" width="40px">
            <p style="color: greenyellow;">GYM</p>
        </div>
    </div>
</div>