<div class="sidebar" [@showSidebar]="showSidebar ? 'show' : 'hide'">
  <div class="icons-container">
    <div class="profile" (click)="navigateTo('HOME')">
      <img id="profile-photo" src="assets/images/sidebar-icons/workout-white.png" alt="HOME" height="50px" width="50px">
      <p id="profile-name" [@showName]="showSidebar ? 'show' : 'hide'">HOME</p>
    </div>
    <hr>
    <ng-container *ngFor="let item of sidebarService.items; let i = index">
      <div class="icons" (click)="navigateTo(item.name)">
        <img class="icon" [src]="item.icon" [alt]="item.name" height="50px" width="50px">
        <p [@showName]="showSidebar ? 'show' : 'hide'">{{ item.name }}</p>
      </div>
      <hr *ngIf="i % 2 === 1 && i !== sidebarService.items.length - 1">
    </ng-container>
    <hr>
  </div>

  <div class="icons" (click)="sidebarService.openLoginWindow()" *ngIf="(accountService.$loggedUser | async).id == -1">
    <img 
      class="icon"
      src="assets/images/sidebar-icons/profile-icon.png" 
      alt="YOUR PROFILE" 
      height="50px" 
      width="50px">
    <p [@showName]="showSidebar ? 'show' : 'hide'">LOG IN</p>
  </div>

  <div class="icons" (click)="sidebarService.openProfileWindow()" *ngIf="(accountService.$loggedUser | async).id != -1">
    <img 
      class="icon"
      [src]="(accountService.$loggedUser | async).imageUrl" 
      [alt]="(accountService.$loggedUser | async).imageUrl" 
      height="50px" 
      width="50px"
      (load)="onImageLoad()"
      >
    <p [@showName]="showSidebar ? 'show' : 'hide'">YOUR PROFILE</p>
  </div>
</div>
