<html>
    <div class="top">
        <div class="top-left-side">
            <div id="chart">
                <apx-chart
                    [series]="helperService.chartOptions.chartSeries"
                    [chart]="helperService.chartOptions.chartDetails"
                    [legend]="helperService.chartOptions.legendOptions"
                    [fill]="helperService.chartOptions.fill"
                    [tooltip]="helperService.chartOptions.tooltip"
                ></apx-chart>
            </div>
        </div>

        <div class="top-right-side">
            <p>Today's goal: </p>
            <div class="macros">
                <p style="color: darkorange;">Protein: {{ (mealService.totalValues | async)?.protein }}/{{ helperService.macros[0].animatedValue }}g</p>
                <p style="color: greenyellow">Fats: {{ (mealService.totalValues | async)?.fats }}/{{ helperService.macros[1].animatedValue }}g</p>
                <p style="color: lightblue">Carbs: {{ (mealService.totalValues | async)?.carbs }}/{{ helperService.macros[2].animatedValue }}g</p>
            </div>
            <hr style="border-color: orangered; width: 40vw; margin-right: 12%;">
            <p style="color: orangered;">Total Calories: {{ (mealService.totalValues | async)?.calories }}/{{ helperService.macros[3].animatedValue }}kcal</p>
        </div>
    </div>

    <div class="bottom">
        <div class="breakfast">
            <div class="breakfast-top">
                <img [src]="footerService.pluses[2].icon" [alt]="footerService.pluses[2].name" height="50px" width="50px">
                <p>ADD BREAKFAST</p>
            </div>

            <div class="breakfast-bottom">
                <p>MACROS: </p>
                <hr style="border-color: darkorange;">
                <hr style="border-color: greenyellow;">
                <hr style="border-color: lightblue;">
            </div>
        </div>

        <div class="lunch">
            <div class="lunch-top">
                <p>MACROS: </p>
                <hr style="border-color: darkorange;">
                <hr style="border-color: greenyellow;">
                <hr style="border-color: lightblue;">
            </div>

            <div class="lunch-bottom">
                <img [src]="footerService.pluses[3].icon" [alt]="footerService.pluses[3].name" height="50px" width="50px">
                <p>ADD LUNCH</p>
            </div>
        </div>

        <div class="snack">
            <div class="snack-top">
                <img [src]="footerService.pluses[2].icon" [alt]="footerService.pluses[2].name" height="50px" width="50px">
                <p>ADD SNACK</p>
            </div>
    
            <div class="snack-bottom">
                <div class="snack-bottom">
                <p>MACROS: </p>
                <hr style="border-color: darkorange;">
                <hr style="border-color: greenyellow;">
                <hr style="border-color: lightblue;">
                </div>
            </div>
        </div>
        <div class="dinner">
            <div class="dinner-top">
                <p>MACROS: </p>
                <hr style="border-color: darkorange;">
                <hr style="border-color: greenyellow;">
                <hr style="border-color: lightblue;">
            </div>

            <div class="dinner-bottom">
                <img [src]="footerService.pluses[3].icon" [alt]="footerService.pluses[3].name" height="50px" width="50px">
                <p>ADD DINNER</p>
            </div>
        </div>
        <div class="workout">
            <div class="workout-top">
                <img [src]="footerService.pluses[0].icon" [alt]="footerService.pluses[0].name" height="50px" width="50px">
                <p>ADD WORKOUT</p>
            </div>

            <div class="workout-bottom">
                <p id="time-elapsed">TIME ELAPSED: 0:00:00</p>
                <p id="calories-burned">CALORIES BURNED: 0kcal</p>
            </div>
        </div>
    </div>
</html>
