<div class="sidebar" [@sidebarAnimation]="isHamburgerClicked ? 'open' : 'closed'">
  <div class="icons-container">
    <div class="profile" (click)="navigateTo('HOME')">
      <img id="profile-photo" [src]="sidebarService.home.icon" [alt]="sidebarService.home.name" height="50px" width="50px">
      <p id="profile-name">{{ sidebarService.home.name }}</p>
    </div>
    <hr>
    <ng-container *ngFor="let item of sidebarService.items; let i = index">
      <div class="icons" (click)="navigateTo(item.name)">
        <img class="icon" [src]="item.icon" [alt]="item.name" height="50px" width="50px">
        <p>{{ item.name }}</p>
      </div>
      <hr *ngIf="i % 2 === 1 && i !== sidebarService.items.length - 1">
    </ng-container>
    <hr>
  </div>
  
  <div class="icons" (click)="showLogin()" *ngIf="(accountService.$loggedUser | async).id == -1">
    <img 
      class="icon"
      [src]="sidebarService.userNotLoggedInAvatar.icon" 
      [alt]="sidebarService.userNotLoggedInAvatar.name" 
      height="50px" 
      width="50px">
    <p>LOG IN</p>
  </div>

  <div class="icons" (click)="showProfile()" *ngIf="(accountService.$loggedUser | async).id != -1">
    <img 
      class="icon"
      [src]="(accountService.$loggedUser | async).imageUrl" 
      [alt]="(accountService.$loggedUser | async).imageUrl" 
      height="50px" 
      width="50px">
    <p>YOUR PROFILE</p>
  </div>
</div>